.activeVehicle {
    background-color: #53af61 !important;
    color: white !important;
}

.brancSearchIcon {
    top: .3rem;
    left: 2.6rem !important;
    position: absolute;
    font-size: 1.8rem;
    opacity: .5;
}