<div class="modal-container">
    <h5 class="sub_heading"><strong>SLA Calculation</strong></h5>
    <mat-icon class="modals_cancel_btn" aria-hidden="true" id="closeButton" (click)="closeDialog()">close</mat-icon>
    <hr class="border_row" style="margin-bottom: 0rem!important;">
    <br>
  </div>
  <div class="overflow_y_scroll">
    <div class="row">
      <div class="col-md-5">
        <div class="search_bar_mdm2d searchbar_mdm2">
          <em class="fa fa-search search_i" aria-hidden="true"></em>
          <mat-form-field appearance="outline">
            <input matInput appSearchFieldCheck name="rateCardCode" (keyup)="applyFilter($event)" class="form-control"
              placeholder="Search Vehicle Type" minlength="3">
          </mat-form-field>
          <div class="error2">
            <label *ngIf="minchar" class="validation-message">Please Enter 3 Character</label>
            <label *ngIf="nomatch" class="validation-message">No Match Found</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row emi_calculation_modla modal_table_full_width">
      <div class="col-md-5 col-sm-6 col-xs-12">
  
        <div class="table-responsive create_new_tale_mdm2" style="position: relative;top: -1.5rem !important;">
          <table aria-describedby="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <ng-container matColumnDef="lkpVehicleTypeId">
            <th scope="col" mat-header-cell *matHeaderCellDef style="width: 251px !important;"> VEHICLE TYPE </th>
            <td mat-cell *matCellDef="let element" [ngClass]="(vehicleData?.id == element.id || activeClassFlag || checkIsSelected(element)) ? 'activeVehicle' : ''"
              (click)="onSelectVehicle(element)"> {{getVehicleTypeName(element.lkpVehicleTypeId)}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
  
      </div>
      <div class="col-md-7 col-sm-6 col-xs-12" style="margin-top: -2rem;">
        <form [formGroup]="slaForm" autocomplete="off">
          <div class="row">
            <div class="col-md-5">
              <p><strong>Loading Time<span class="redMark">*</span></strong></p>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <input OnlyNumber="true" matInput name="loadingTime" class="form-control" placeholder="" formControlName="loadingTime" appNumberOnly maxlength="10">
               </mat-form-field>
               <div class="errorMsg" *ngIf="f.loadingTime.errors?.required && f.loadingTime.touched"> <em>Required !</em></div>
               <div class="errorMsg" *ngIf="f.loadingTime.errors?.pattern && f.loadingTime.touched"> <em>Please enter only numeric values !</em></div>
            </div>
            <div class="col-md-3">
              Minutes
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <p><strong>Unloading Time<span class="redMark">*</span></strong></p>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <input OnlyNumber="true" matInput name="unloadingTime" class="form-control" placeholder="" formControlName="unloadingTime" appNumberOnly maxlength="10">
                 </mat-form-field>
                 <div class="errorMsg" *ngIf="f.unloadingTime.errors?.required && f.unloadingTime.touched"> <em>Required !</em></div>
                 <div class="errorMsg" *ngIf="f.unloadingTime.errors?.pattern && f.unloadingTime.touched"> <em>Please enter only numeric values !</em></div>
            </div>
            <div class="col-md-3">
              Minutes
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center mtb_30">
              <button mat-button class="white-button" [disabled]="!slaForm.valid"
                (click)="addSlaDeductions()">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mtb_30">
        <button mat-button class="theme-button" [disabled]="checkArray.length==0" (click)="saveSlaDeductions()">Save</button>
      </div>
    </div>
  </div>