<div class="modal-container associateDeliverContainer">
  <h5 class="sub_heading"><strong>Insurance Deduction Calculation</strong></h5>
  <mat-icon class="modals_cancel_btn" aria-hidden="true" id="closeButton" (click)="closeDialog()" >close</mat-icon>
  <hr class="border_row">
  <br>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="search_bar_mdm2d searchbar_mdm2">
      <span class="fa fa-search brancSearchIcon" aria-hidden="true"></span>
      <mat-form-field appearance="outline">
        <input appSearchFieldCheck matInput name="rateCardCode" class="form-control" (keyup)="applyFilter($event)" placeholder="Search Vehicle" minlength="3">
      </mat-form-field>
      <div class="error2">
        <label *ngIf="minchar" class="validation-message" >Please Enter 3 Character</label>
        <label *ngIf="nomatch" class="validation-message">No Match Found</label>
      </div>
    </div>
  </div>
</div>
<div class="row emi_calculation_modla modal_table_full_width">
  <div class="col-md-5 col-sm-6">

    <div class="table-responsive create_new_tale_mdm2">

      <table aria-describedby="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="vehicleNumber">
          <th scope="col" mat-header-cell *matHeaderCellDef> VEHICLE NUMBER </th>
          <td mat-cell *matCellDef="let element" [ngClass]="(vehicleData?.id === element.id || activeClassFlag || checkIsSelected(element)) ? 'activeVehicle' : ''"
            (click)="onSelectVehicle(element)"> {{element.vehicleNumber}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div>
      </div>
    </div>

  </div>
  <div class="col-md-7 col-sm-6">
    <form [formGroup]="insuranceForm" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Amount (Per Cycle)<span class="redMark">*</span></strong></p>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <input matInput name="dedctnAmt" class="form-control" placeholder="" formControlName="dedctnAmt" pattern="^[1-9][0-9]*$" [numbersOnly] = true maxlength="8">
          </mat-form-field>
          <div class="errorMsg" *ngIf="f.dedctnAmt.errors?.required && f.dedctnAmt.touched"><em>Required !</em></div>
          <div class="errorMsg" *ngIf="f.dedctnAmt.errors?.pattern && f.dedctnAmt.touched"><em>Please enter only numeric values !</em></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><strong>From Date<span class="redMark">*</span></strong></p>
        </div>
        <div class="col-md-6">
          <div class="">
            <mat-form-field appearance="outline" class="date_picker_adjust">
              <mat-datepicker #insuranceDate1 class="myDatepicker23">
              </mat-datepicker>
              <input matInput autocomplete="off" [matDatepicker]="insuranceDate1" class="date_input_height" placeholder=""
                name="effectiveDt" placeholder="DD/MM/YYYY" formControlName="effectiveDt"
                (dateChange)="effectiveDate()" (blur)="effectiveDate()"/>
              <mat-datepicker-toggle matPrefix [for]="insuranceDate1">
              </mat-datepicker-toggle>
            </mat-form-field>
            <div class="errorMsg" *ngIf="f.effectiveDt.errors?.required && f.effectiveDt.touched"><em>Invalid!</em>
            </div>
            <div *ngIf="isValidEffectiveDt && !(f.effectiveDt.errors?.required)" class="errorMsg">
              <em>Invalid!</em>
            </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><strong>To Date<span class="redMark">*</span></strong></p>
        </div>
        <div class="col-md-6">
          <div class="">
            <mat-form-field appearance="outline" class="date_picker_adjust">
              <mat-datepicker #insuranceDate2 class="myDatepicker23">
              </mat-datepicker>
              <input matInput autocomplete="off" [matDatepicker]="insuranceDate2" class="date_input_height" placeholder=""
                formControlName="expDt" name="expDt" placeholder="DD/MM/YYYY" [min]="maxdate"
                (dateChange)="expDate()" (blur)="expDate()"/>
              <mat-datepicker-toggle matPrefix [for]="insuranceDate2">
              </mat-datepicker-toggle>
            </mat-form-field>
            <div class="errorMsg" *ngIf="f.expDt.errors?.required && f.expDt.touched"><em>Invalid!</em>
            </div>
            <div *ngIf="isValidExpDt && !(f.expDt.errors?.required)" class="errorMsg">
              <em>Invalid!</em>
            </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center mtb_30">
          <button mat-button class="white-button" [disabled]="!insuranceForm.valid"
            (click)="addInsuranceDeductions()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center mtb_30">
    <button mat-button class="theme-button" [disabled]="checkArray.length==0" (click)="saveInsuranceDeductions()">Save</button>
  </div>
</div>