<div class="modal-container">
    <h3 class="sub_heading"><strong>Adjustment Amount</strong></h3>
    <em class="material-icons modals_cancel_btn" [mat-dialog-close]="true">
        cancel
    </em>
    <hr class="border_row">
    <br>
    <div>
        <div class=" all_form">
            <div class="row">
                <div class="col-md-12 mr-7">
                    <mat-label><strong>Branch Level Adjustments</strong></mat-label>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <div class="mat-table">
                            <div class="mat-row branch_table_head border_none">
                                <div class="mat-cell">
                                </div>
                                <div class="mat-cell"> <strong>BRANCH ID</strong>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <mat-label>Penalty Against Wrong Weight</mat-label>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <mat-label>Penalty Against Wrong Dimensions</mat-label>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <mat-label>Penalty Against Waybill</mat-label>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <mat-label>Market Vehicle Expense</mat-label>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <mat-label>SLA Deductions For Late Arrival To Hub</mat-label>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <mat-label>others</mat-label>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="mr-top-10">
                                            <input matInput name="rateCardCode" class="form-control pd_00"
                                                placeholder="Enter Remarks">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mr-7">
                    <mat-label><strong>Associate Level Adjustments</strong></mat-label>
                </div>
                <div class="col-md-12 mr-7">
                    <span>
                        <mat-label><strong>Automatic Deducted Amount</strong></mat-label> <span class="color_theme"> Rs. 4000
                            (Hide Details)</span>
                    </span>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <div class="mat-table">
                            <div class="mat-row branch_table_head border_none">
                                <div class="mat-cell">
                                    <mat-checkbox></mat-checkbox> <strong>WAY BILL</strong>
                                </div>
                                <div class="mat-cell"> <strong>ADJUSTMENT TYPE</strong>
                                </div>
                                <div class="mat-cell"> <strong>AMOUNT</strong>
                                </div>
                                <div class="mat-cell"> <strong>COMMENTS</strong>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    12312214
                                </div>
                                <div class="mat-cell">
                                    NEGATIVE
                                </div>
                                <div class="mat-cell">
                                    20000
                                </div>
                                <div class="mat-cell">
                                    FOC DEDUCTION
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mr-7">
                    <span>
                        <mat-label><strong>Manual Adjustment Amount</strong></mat-label>
                    </span>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <div class="mat-table">
                            <div class="mat-row branch_table_head border_none">
                                <div class="mat-cell">
                                    <mat-checkbox></mat-checkbox> <strong>ADJUSTMENT TYPE</strong>
                                </div>
                                <div class="mat-cell"> <strong>WAYBILL NO</strong>
                                </div>
                                <div class="mat-cell"> <strong>AMOUNT</strong>
                                </div>
                                <div class="mat-cell"> <strong>REMARKS</strong>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    <div class="module_area">
                                        <mat-form-field class="select_box_dropwodn overline_hidden mr-top-7">
                                            <mat-select>
                                                <mat-option [value]="1">
                                                    Active
                                                </mat-option>
                                                <mat-option [value]="0">
                                                    Inactive
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mr-7">
                    <span>
                        <mat-label><strong>Advance Amount Deduction Calculation</strong>
                            <mat-radio-button [value]="1" style="padding-right: 30px;">Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0">NO</mat-radio-button>
                        </mat-label>
                    </span>
                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                        <div class="mat-table">
                            <div class="mat-row branch_table_head border_none">
                                <div class="mat-cell">
                                    <mat-checkbox></mat-checkbox> <strong>Advance emi</strong>
                                </div>
                                <div class="mat-cell"> <strong>Actual amount</strong>
                                </div>

                                <div class="mat-cell"> <strong>REMARKS</strong>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    10000
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mr-7">
                    <span>
                        <mat-label><strong>EMI Deduction Calculation</strong>
                            <mat-radio-button [value]="1" style="padding-right: 30px;">Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0">NO</mat-radio-button>
                        </mat-label>
                    </span>
                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                        <div class="mat-table">
                            <div class="mat-row branch_table_head border_none">
                                <div class="mat-cell">
                                    <mat-checkbox></mat-checkbox> <strong>Vehicle emi</strong>
                                </div>
                                <div class="mat-cell"> <strong>Actual amount</strong>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    10000
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mr-7">
                    <span>
                        <mat-label><strong>Vehicle Insurance Deduction Calculation</strong>
                            <mat-radio-button [value]="1" style="padding-right: 30px;">Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0">NO</mat-radio-button>
                        </mat-label>
                    </span>
                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                        <div class="mat-table">
                            <div class="mat-row branch_table_head border_none">
                                <div class="mat-cell">
                                    <mat-checkbox></mat-checkbox> <strong>Vehicle no.</strong>
                                </div>
                                <div class="mat-cell"> <strong>EMI</strong>
                                </div>
                                <div class="mat-cell"> <strong>Actual amount</strong>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    HR1234564
                                </div>
                                <div class="mat-cell">
                                    10000
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="mat-row branch_table_dis border_none">
                                <div class="mat-cell">
                                    HR1234564
                                </div>
                                <div class="mat-cell">
                                    10000
                                </div>
                                <div class="mat-cell">
                                    <div class="search_bar_mdm2d">
                                        <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                            <input matInput name="rateCardCode" class="form-control pd_00">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mr-7">
                    <div class="row">
                        <div class="col-md-5 mr-top-10 pd-4">
                            <mat-label><strong>Total Adjustment Amount</strong>

                            </mat-label>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="mr-top-10 pd-4">
                                <input matInput name="rateCardCode" class="form-control pd_00">
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 text-center"> <button mat-flat-button color="primary"
                        class="theme_btn round_btn">CALCULATE</button>
                    <br></div>
            </div>
        </div>
        <br> <br>

        <!-- Add city Section -->
    </div>
</div>