<div class="modal-container">
  <h5 class="sub_heading"><strong>Contract Update</strong></h5>
  <mat-icon class="modals_cancel_btn" [mat-dialog-close]="true">close</mat-icon>
  <hr class="border_row">
  <br>
</div>

<div class="float_table contract_update_bm">
  <div class="float_left width_20">
    <div class="modal_card_5 active">
      <p><strong>Booking</strong></p>
    </div>
  </div>
  <div class="float_left width_20">
    <div class="modal_card_5">
      <p><strong>Air Freight</strong></p>
    </div>
  </div>
  <div class="float_left width_20">
    <div class="modal_card_5">
      <p><strong>Cargo</strong></p>
    </div>
  </div>
  <div class="float_left width_20">
    <div class="modal_card_5">
      <p><strong>Network</strong></p>
    </div>
  </div>
  <div class="float_left width_20 mo_width_100">
    <div class="modal_card_5">
      <p><strong>Delivery</strong></p>
    </div>
  </div>
</div>
<div class="row mt_15">
  <div class="col-md-3 col-sm-6">
    <div class="gray_card_msa1 gray1_card_msa1 heading_with_icon active" (click)="openBookingContractUpdateModal()">
      <i class="fa fa-info" aria-hidden="true"></i>
      <div class="row">
        <div class="col-md-8">
          <h3 class="type_date_msa1"><strong>Booking</strong></h3>
        </div>
      </div>
      <p>Start Date: 24 May 19</p>
      <p>End Date: 24 May 19</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="gray_card_msa1 gray1_card_msa1 heading_with_icon">
      <i class="fa fa-info" aria-hidden="true"></i>
      <div class="row">
        <div class="col-md-8">
          <h3 class="type_date_msa1"><strong>Booking</strong></h3>
        </div>
      </div>
      <p>Start Date: 24 May 19</p>
      <p>End Date: 24 May 19</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="gray_card_msa1 gray1_card_msa1 heading_with_icon">
      <i class="fa fa-info" aria-hidden="true"></i>
      <div class="row">
        <div class="col-md-8">
          <h3 class="type_date_msa1"><strong>Booking</strong></h3>
        </div>
      </div>
      <p>Start Date: 24 May 19</p>
      <p>End Date: 24 May 19</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="gray_card_msa1 gray1_card_msa1 heading_with_icon">
      <i class="fa fa-info" aria-hidden="true"></i>
      <div class="row">
        <div class="col-md-8">
          <h3 class="type_date_msa1"><strong>Booking</strong></h3>
        </div>
      </div>
      <p>Start Date: 24 May 19</p>
      <p>End Date: 24 May 19</p>
    </div>
  </div>
</div>