<!-- breadcrumb start -->
<section class="booking_breadcrumb_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-toolbar class="breadcrumbs_nav">
            <mat-toolbar-row class="breadcrumbs">
              <span><a routerLink="/asso_cargo-contract/asso_cargo">Dashboard</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span><a>Contracts</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span><a>Customer</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span>CREDIT</span>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<section>
  <section class="dsh_bkg_sec_2">
    <div class="container">
      <div class="row mdm_d_btn">
        <div class="col-md-2 col-sm-4">
          <button mat-button class="btn-block db_module active" routerLink="/asso_cargo-contract/create-associate-contract">Booking</button>
        </div>
        <div class="col-md-2 col-sm-4">
          <button mat-button class="btn-block db_module deactive">Air Flight</button>
        </div>
        <div class="col-md-2 col-sm-4">
          <button mat-button class="btn-block db_module deactive">Cargo</button>
        </div>
        <div class="col-md-2 col-sm-4">
          <button mat-button class="btn-block db_module deactive">Network</button>
        </div>
        <div class="col-md-2 col-sm-4">
          <button mat-button class="btn-block db_module deactive">Delivery</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text">
                      <p>Expiring Soon</p>
                      <ul>
                        <li>Customer <span>8</span></li>
                        <li>PRC <span>2</span></li>
                        <li>Associate <span>2</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text sraft_mode_d">
                      <p>In Draft Mode</p>
                      <h3>12</h3>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text">
                      <p>Expiring Soon</p>
                      <ul>
                        <li>Customer <span>8</span></li>
                        <li>PRC <span>2</span></li>
                        <li>Associate <span>2</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text sraft_mode_d">
                      <p>In Draft Mode</p>
                      <h3>12</h3>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="add_new_d">
            <div class="initlate_request_add">
              <button mat-button class="active"
                (click)="showBCreate=true; asoCrtAdd=true; showBAssociate=false; creAssoAddTable=false">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <p>Add New</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text sraft_mode_d">
                      <p>In Draft Mode</p>
                      <h3>12</h3>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text">
                      <p>Expiring Soon</p>
                      <ul>
                        <li>Customer <span>8</span></li>
                        <li>PRC <span>2</span></li>
                        <li>Associate <span>2</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text sraft_mode_d">
                      <p>In Draft Mode</p>
                      <h3>12</h3>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dsec2_cart">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="dsec2_cart_text">
                      <p>Expiring Soon</p>
                      <ul>
                        <li>Customer <span>8</span></li>
                        <li>PRC <span>2</span></li>
                        <li>Associate <span>2</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dsec2_cart_img">
                      <img alt="img"src="../assets/images/loder.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="add_new_d">
            <div class="initlate_request_add">
              <button mat-button class="active"
                (click)="showBCreate=true; asoCrtAdd=true; showBAssociate=false; creAssoAddTable=false">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <p>Add New</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
