<!-- breadcrumb start -->
<section class="booking_breadcrumb_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-toolbar class="breadcrumbs_nav">
            <mat-toolbar-row class="breadcrumbs">
              <span><a routerLink="/asso_air-contract/asso_air">Dashboard</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span><a routerLink="/asso_air-contract/asso_air">Contracts</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span><span>ASSOCIATE CONTRACT </span></span>
            </mat-toolbar-row>
          </mat-toolbar>
          <h2>Associate Master</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<section class="req_table_sec booking_msa_sec">
  <div class="container-fluid">
  <div class="black_card_blank"></div>
    <div class="booking_card">
      <!-- msa start -->
      <div class="row mt_10">
        <div class="col-md-12">
          <div class="title_search_add">
            <mat-label><strong>Search Associate</strong></mat-label>
            <div class="mdm_searchbar">
              <em class="fa fa-search" aria-hidden="true"></em>
              <mat-form-field appearance="outline">
                <input #searchfilter appSearchFieldCheck name="searchfilter" matInput name="rateCardCode" minlength="3" (keyup)="applyFilter($event)" class="form-control" placeholder="Search">
              </mat-form-field>
              <div class="error2" style="position: relative; top: -9px;">
                <label *ngIf="minchar" class="validation-message">Please Enter 3 Character</label>
                <label *ngIf="nomatch" class="validation-message">No Match Found</label>
              </div>

            </div>
            <mat-icon *ngIf="(perList && perList.includes('CREATE ASSOCIATE_CREATE')) && !isMSA" class="add_icon" (click)="addNewAssociateContract()">add</mat-icon>
          </div>
        </div>
      </div>

      <div class="row mt15">
        <div class="col-md-12">
        <div class="table-responsive" style="margin-bottom: 30px; overflow: hidden !important;">

          <table aria-describedby="table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="updDt" matSortDirection="desc" 
          matSortDisableClear *ngxPermissionsOnly="['CREATE ASSOCIATE_READ']">

              <ng-container matColumnDef="contactFname">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><div class="assoName">ORG. NAME</div></th>
                <td mat-cell *matCellDef="let element">
                  <div *ngxPermissionsOnly="['CREATE CONTRACT_CREATE']">
                    <div *ngIf="(element.status === 0 && element.kycFlag === 1); else elseCond" class="row_center row_center_width" style="width: 13rem !important;font-weight: normal;" 
                    matTooltipPosition="above" [matTooltip]="element.companyName | uppercase">{{element.companyName}}</div>
                    <ng-template #elseCond>
                      <a *ngIf="element.kycFlag === 1" (click)="goToContract(element)">
                        <div class="row_center row_center_width" style="width: 13rem !important;font-weight: normal;" 
                        matTooltipPosition="above" [matTooltip]="element.companyName | uppercase">{{element.companyName}}</div>
                      </a>
                    </ng-template>
                </div>
                <div *ngxPermissionsExcept="['CREATE CONTRACT_CREATE']">
                  <a>
                    <div *ngIf="element.kycFlag === 1"  class="row_center row_center_width" style="width: 13rem !important;font-weight: normal;" 
                    matTooltipPosition="above" [matTooltip]="element.companyName | uppercase">{{element.companyName}}</div>
                  </a>
                </div>
                  <div *ngIf="element.kycFlag === 0" class="row_center row_center_width" style="width: 13rem !important;font-weight: normal;"
                  matTooltipPosition="above" [matTooltip]="element.companyName | uppercase">{{element.companyName}}</div>

                </td>
              </ng-container>

              <ng-container matColumnDef="crtdDt">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>CREATION DATE
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width"> {{element.crtdDt | date: 'dd/MM/yyyy'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="vendorDeptt">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>VENDOR DEPARTMENT</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" [matTooltip]="element?.assocDeptMaps[0]?.lkpAssocDeptId | lookupValue : 'descr' : assocDeptList">{{element?.assocDeptMaps[0]?.lkpAssocDeptId | lookupValue : "descr" : assocDeptList}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="gstinNum">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" [matTooltip]="element.gstinNum" matTooltipPosition="above"> {{element.gstinNum}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="panNum">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>PAN </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" [matTooltip]="element.panNum" matTooltipPosition="above">{{element.panNum}}</div>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="mob">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>MOBILE NO. </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" [matTooltip]="element.mob">{{element.mob}} </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="kycFlag">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>KYC</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width">{{element.kycFlag == 1 ? 'YES' : 'NO'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width">
                    {{element.status == 1 ? (element.kycFlag == 1 ? 'ACTIVE' : 'DRAFT') : 'INACTIVE'}}
                  </div>                  
                </td>
              </ng-container>

              <ng-container matColumnDef="version">
                <th scope="col" mat-header-cell *matHeaderCellDef class="flexNone"> </th>
                <td mat-cell *matCellDef="let element" class="flexNone paddingleftZero" style="padding: 0 !important;">
                  <em class="material-icons iconSize green paddingZero" *ngxPermissionsOnly="['CREATE ASSOCIATE_READ']" (click)="ShowAssociateContract(element)" style="cursor: pointer;">visibility</em>                  
                </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th scope="col" mat-header-cell *matHeaderCellDef class="flexNone"> </th>
                <td mat-cell *matCellDef="let element"  class="flexNone" style="padding-left: 0 !important;">
                  <span>
                    <em class="material-icons iconSize green paddingZero" *ngxPermissionsOnly="['CREATE ASSOCIATE_UPDATE']" (click)="edditAssociateContract(element)" style="cursor: pointer;">create</em>
                  </span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div  panelClass="paginator">
              <mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
        </div>
      <!-- msa end -->
    </div>
  </div>
</section>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>
