<form #paymentForm="ngForm" >
    <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('PAYOUT BASED ON'))">
        <div class="col-md-2">
            <mat-label><strong>Payout Based On</strong><span class="redMark"> *</span></mat-label>
        </div>
        <div class="col-md-2">
            <div class="module_area">

                <mat-form-field class="select_box_dropwodn overline_hidden allc">
                    <mat-label>Select</mat-label>
                    <mat-select class="Sel_payout" name="assPaType_1" #assPaType="ngModel"
                        (selectionChange)="payoutChange(payoutGenDetail, $event)" [disabled]="payoutGenDetail.id && editflow"
                        [(ngModel)]="payoutGenDetail.lkpAirFreightPayoutOptId" (ngModelChange)="editInput(payoutGenDetail)"
                        required>
                        <mat-option
                            *ngFor="let assoPayType of payoutGenRefDetail?.assocPayoutTypeList | sortBy:'asc':'descr'"
                            [value]="assoPayType.id">
                            {{assoPayType.descr}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
                <div *ngIf="(assPaType.errors?.required && assPaType.touched)" class="errorMsg">
                    <em> Required !</em>
                 </div>
            </div>
        </div>
    </div>
<div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT TYPE'))">
    <div class="col-md-2">
        <mat-label><strong>Weight Type</strong><span class="redMark"> *</span></mat-label>
    </div>
    <div class="col-md-2">
        <div class="module_area">

            <mat-form-field class="select_box_dropwodn overline_hidden allc">
                <mat-label>Select</mat-label>
                <mat-select class="Sel_WtType" name="exAssPaType_2" #exassPaType="ngModel" [(ngModel)]="payoutGenDetail.wtType"
                    (ngModelChange)="editInput(payoutGenDetail)" required>
                    <mat-option
                        *ngFor="let exassoPayType of payoutGenRefDetail?.assocWeightType | sortBy:'asc':'descr'"
                        [value]="exassoPayType.lookupVal">
                        {{exassoPayType.descr}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="(exassPaType.errors?.required && exassPaType.touched)" class="errorMsg">
                <em> Required !</em>
             </div>

        </div>
    </div>
</div>
<!-- <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('PAYMENT MODE'))">
    <div class="col-md-2">
        <mat-label><strong>Payment Mode</strong><span class="redMark"> *</span></mat-label>
    </div>
    <div class="col-md-2">
        <div class="module_area">

            <mat-form-field class="select_box_dropwodn overline_hidden allc">
                <mat-label>Select</mat-label>
                <mat-select name="modePaType_2" #paymentMode="ngModel" [(ngModel)]="payoutGenDetail.lkpPymtMethodId"
                    (ngModelChange)="editInput(payoutGenDetail)" required>
                    <mat-option *ngFor="let payMode of payoutGenRefDetail?.paymentModeList | sortBy:'asc':'lookupVal'"
                        [value]="payMode.id">
                        {{payMode.lookupVal}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="(paymentMode.errors?.required && paymentMode.touched)" class="errorMsg">
                <em> Required !</em>
             </div>
        </div>
    </div>
</div> -->

<!-- city -->
<div class="row" *ngIf="addCityFlag">
    <div class="col-md-12">
        <div class="label_and_add">
            <mat-label><strong>Add City</strong></mat-label>
            <mat-icon class="add_icon" (click)="Addcities()">add</mat-icon>
        </div>
    </div>
    <div class="col-md-12" *ngFor="let airFrCity of payoutGenDetail.airFreightCityPrdctCtgys;let i=index">
        <mat-expansion-panel class="box_shadow_none" [expanded]="true">
            <mat-expansion-panel-header class="collapse_panel_header">
                <mat-panel-title >
                   <span class="fromTo"  matTooltipPosition="above" [matTooltip]="'From ( ' + airFrCity.fromCityName  + ' )' + ' To Destination ( ' + airFrCity.toCityName +' )' | uppercase"> From ( {{airFrCity.fromCityName}} ) To Destination ( {{airFrCity.toCityName}} ) </span>
                    <span >
                        <div class="row_center delete_icon" (click)="deleteCity(payoutGenDetail.airFreightCityPrdctCtgys, 'city', i)" matTooltipPosition="above">
                            <span class="material-icons" style="color: #27AE60; cursor: pointer; float: right !important;     font-size: initial;">delete</span>
                        </div>
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="padding_10">
                <div class="row">
                    <div class="col-md-5" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('FROM'))">
                        <div class="col-md-3">
                            <mat-label><strong>From City</strong><span class="redMark"> *</span>
                            </mat-label>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <input matInput name="addtnlExpnsRemark_{{i}}" (ngModelChange)="editInput(airFrCity)"
                                    class="form-control" [(ngModel)]="airFrCity.fromCityName" #fromCityName ="ngModel"
                                    autocomplete="false"
                                    (click)="openSearchCityModal(airFrCity,true, airFrCity.toCityId)" placeholder="search..." required>
                            </mat-form-field>
                            <div *ngIf="(fromCityName.errors?.required && fromCityName.touched)" class="errorMsg">
                                <em> Required !</em>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-5" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('TO'))">
                        <div class="col-md-3">
                            <mat-label><strong>To City</strong><span class="redMark"> *</span>
                            </mat-label>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <input matInput name="addtnlExpnsRemarkTo_{{i}}" class="form-control"
                                    (ngModelChange)="editInput(airFrCity)" [(ngModel)]="airFrCity.toCityName"
                                    autocomplete="false" #toCityName ="ngModel"
                                    (click)="openSearchCityModal(airFrCity,false, airFrCity.fromCityId)" placeholder="search..." required>
                            </mat-form-field>
                            <div *ngIf="(toCityName.errors?.required && toCityName.touched)" class="errorMsg">
                                <em> Required !</em>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding_10">
                <div class="row">
                    <div class="col-md-3 myDIV">
                        <button class="btn btn-sm  weightbtn" [ngClass]="{'active': airFrCity.wtCalcCtgy == 'RATE PER KG'}"
                            (click)="rateFunctionProduct('RATE PER KG',airFrCity)" style="margin: 0 2px"
                            *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE PER KG'))">RATE PER KG</button>
                        <button class="btn btn-sm weightbtn" [ngClass]="{'active': airFrCity.wtCalcCtgy == 'TOTAL WEIGHT'}"
                            (click)="rateFunctionProduct('TOTAL WEIGHT',airFrCity)" style="margin: 0 2px"
                            *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT CALCULATION CATEGORY'))">TOTAL WEIGHT</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE PER KG'))">
            <div class="padding_10" *ngIf="airFrCity.wtCalcCtgy=='RATE PER KG'">
                <div class="row">
                    <div class="col-md-2">
                        <mat-label><strong>Rate Per KG</strong><span class="redMark"> *</span>
                        </mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <input matInput name="price_{{i}}" class="form-control Sel_RateperKg" #price="ngModel"
                                placeholder="" [(ngModel)]="airFrCity.price" (ngModelChange)="editInput(airFrCity)" required  maxlength="11" OnlyNumber="true" numeric required>
                        </mat-form-field>
                        <div *ngIf="(price.errors?.required && price.touched)" class="errorMsg">
                           <em> Required !</em>
                        </div>
                        <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                        class="errorMsg">
                          <em> Invalid !</em>
                      </div> 
                    </div>
                </div>
            </div>
            </div>

            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT CALCULATION CATEGORY'))">
            <div class="padding_10" *ngIf="airFrCity.wtCalcCtgy=='TOTAL WEIGHT'">
                <form name="customSla_{{j}}" #fCustomSla="ngForm" novalidate >
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="col-lg-5 col-md-4 zonalheadingbar">SLAB DEFINING (IN KG) <br>
                            FROM
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            TO
                        </div>
                        <div class="col-lg-5 col-md-5 zonalheadingbar">RATE PER KG  <span class="redMark"> *</span></div>
                        <div class="col-md-1">
                            <div class="label_and_add" style="margin-top: -5px;">
                               <button mat-button [disabled]="validCust(fCustomSla.form, airFrCity) || !fCustomSla.form.valid || airFrCity.maxFlag"
                                 mat-card-avatar aria-label="Example icon" class="mat_icon_moz " style="padding: 0 !important;" (click)="addSlabTotalWeightCity(airFrCity, false)">
                                   <mat-icon class="add_icon" style="margin: 0 !important;" (click)="addSlabTotalWeightCity(airFrCity, false)">add</mat-icon>
                                </button> 
                                <!-- <span>
                                   <mat-icon class="add_icon" (click)="addSlabTotalWeightCity(airFrCity, false)">add</mat-icon>
                                </span> -->
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt_5">
                    <div class="col-lg-6 col-md-6">
                        <div class="row"
                            *ngFor="let dslab of airFrCity?.airFreightWtSlabChrgs ;let i=index">
                            <div class="col-lg-2 col-md-6 module_area">
                                <mat-form-field appearance="outline" style="width: 60%;">
                                    <input matInput autocomplete="true" class="form-control Sel_RateperKg1" [disabled]="true" [numbersOnly] = true name="slabFrom_{{i}}"
                                        [(ngModel)]="dslab.slabFrom" (ngModelChange)="editInput(dslab)" #slabFrom="ngModel"
                                        maxlength="8">
                                </mat-form-field>
                                <div *ngIf="(slabFrom.errors?.required && slabFrom.touched)"
                                    class="errorMsg">
                                   <em> Required !</em>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-6 module_area">
                                <mat-label><strong>To</strong></mat-label>
                            </div>

                            <div class="col-lg-2 col-md-6 module_area">
                                <mat-form-field appearance="outline" style="width: 60%;">
                                    <input matInput autocomplete="true" class="form-control" maxlength="8" name="slabTo{{i}}"
                                        [(ngModel)]="dslab.slabTo" (ngModelChange)="editInput(dslab)" #slabTo="ngModel" [numbersOnly] = true numeric
                                        (blur)="validCust(fCustomSla.form, airFrCity)"
                                        (keyup)="changeValue(i, 'slabTo', $event.target.value, airFrCity )" required>
                                </mat-form-field>
                                <div *ngIf="(slabTo.errors?.required && slabTo.touched)" class="errorMsg">
                                   <em> Required !</em>
                                </div>
                                <ng-container *ngIf="!slabTo.errors?.required">
                                    <div *ngIf="((dslab.flag && slabTo.touched) || (slabTo.errors?.isNumeric && slabTo.touched))" class="errorMsg">
                                    <em> Invalid !</em>
                                    </div>
                                </ng-container>  
                            </div>
                            <div class="col-lg-4 col-md-6 module_area">
                                <mat-form-field appearance="outline" style="width: 60%;">
                                    <input matInput autocomplete="true" class="form-control"  maxlength="11" OnlyNumber="true" numeric 
                                        [(ngModel)]="dslab.price" (ngModelChange)="editInput(dslab)" #price="ngModel" name="price_{{i}}"
                                        required>
                                </mat-form-field>
                                <div *ngIf="(price.errors?.required && price.touched)" class="errorMsg">
                                   <em> Required !</em>
                                </div>
                                <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                                class="errorMsg">
                                  <em> Invalid !</em>
                              </div> 

                            </div>
                            <div class="row_center delete_icon" *ngIf=" ((i == (airFrCity?.airFreightWtSlabChrgs.length - 1) ) && i > 0)"
                                matTooltipPosition="above">
                                <span class="material-icons" (click)="deleteSlabTOTALWEIGHT(airFrCity?.airFreightWtSlabChrgs,i)"
                                    style="color: #27AE60; cursor: pointer; float: right !important;">delete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                </form>
            </div>
            </div>
            
            <div class="row pL_10" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('PER WAYBILL MIN'))">
                <div class="col-md-2" style="    width: max-content;">
                    <mat-label><strong>Minimum Amt. Per Air Waybill</strong><span class="redMark">
                            *</span></mat-label>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <input matInput name="minAmt_{{i}}" class="form-control Sel_MinAmt3" placeholder="" #minAmt="ngModel"
                            [(ngModel)]="airFrCity.minAmt" (ngModelChange)="editInput(airFrCity)" required  OnlyNumber="true" numeric  maxlength="8" >
                    </mat-form-field>
                    <div *ngIf="(minAmt.errors?.required && minAmt.touched)" class="errorMsg">
                       <em> Required !</em>
                    </div>
                    <div *ngIf="(minAmt.errors?.isNumeric && !(minAmt.errors?.required && minAmt.touched))"
                    class="errorMsg">
                      <em> Invalid !</em>
                  </div> 
                </div>
            </div>
            <div class="row pL_10">
                <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('START DATE'))">
                    <div class="col-md-1">
                        <mat-label><strong>Start Date </strong><span class="redMark"> *</span>
                        </mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                            <mat-datepicker #bookingDate1 class="myDatepicker23">
                            </mat-datepicker>
                            <input matInput [matDatepicker]="bookingDate1" class="date_input_height Sel_startDt1"
                                name="effectiveDt_{{i}}"  #effectiveDt="ngModel"
                                [(ngModel)]="airFrCity.effectiveDt" placeholder="DD/MM/YYYY"
                                [min]="minDateStart" [max]="maxdate" (blur)="effectiveDate(true,airFrCity)"
                                (dateChange)="effectiveDate(true,airFrCity)"
                                (ngModelChange)="editInput(airFrCity)" required
                                numericSpecialChar />
                            <mat-datepicker-toggle matPrefix [for]="bookingDate1">
                            </mat-datepicker-toggle>
                        </mat-form-field>
                        <div *ngIf="airFrCity.isValidExpDt && !(effectiveDt.errors?.required)"
                            class="errorMsg">
                            Invalid Start Date!
                        </div>
                        <div *ngIf="(effectiveDt.errors?.required && effectiveDt.touched)" class="errorMsg">
                        <em> Required !</em>
                        </div>
                    </div>
                </div>
                <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('END DATE'))">
                    <div class="col-md-1">
                        <mat-label><strong>End Date </strong></mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                            <mat-datepicker #bookingDate2 class="myDatepicker23">
                            </mat-datepicker>
                            <input matInput [matDatepicker]="bookingDate2" class="date_input_height Sel_EndDt1"
                                #expDt="ngModel" (ngModelChange)="editInput(airFrCity)"
                                [(ngModel)]="airFrCity.expDt" name="expDt_{{i}}" placeholder="DD/MM/YYYY"
                                [min]="minDate" (dateChange)="expDate(airFrCity)"
                                (blur)="expDate(airFrCity)" numericSpecialChar />
                            <mat-datepicker-toggle matPrefix [for]="bookingDate2">
                            </mat-datepicker-toggle>
                        </mat-form-field>
                        <div *ngIf="airFrCity.isValidExpDt && !(expDt.errors?.required)"
                            class="errorMsg">
                            Invalid End Date!
                        </div>

                    </div>
                </div>
            </div>

            <!-- <hr> -->

        </mat-expansion-panel>
    </div>
</div>
<!-- Product -->
<div class="row" *ngIf="AddproductFlag">
    <div class="col-md-12">
        <div class="label_and_add" >
            <mat-label><strong>Add Product Category</strong></mat-label>
            <mat-icon class="add_icon"  (click)="Addproduct()">add</mat-icon>
        </div>
    </div>
    <div class="col-md-12" *ngFor="let airFrProduct of payoutGenDetail.airFreightCityPrdctCtgys;let j=index">
        <mat-expansion-panel class="box_shadow_none" [expanded]="true">
            <mat-expansion-panel-header class="collapse_panel_header">
                <mat-panel-title>
                   <span class="fromTo">Product Category ({{getProductCategoryNames(airFrProduct.prodIdArray) }})</span> 
                    <div  class="row_center delete_icon" (click)="deleteCity(payoutGenDetail.airFreightCityPrdctCtgys,'product', j)" matTooltipPosition="above">
                        <span class="material-icons" style="color: #27AE60; cursor: pointer; float: right !important;     font-size: initial;">delete</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="padding_10">
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-5">
                            <mat-label><strong>Select Product Category</strong><span class="redMark"> *</span>
                            </mat-label>
                        </div>
                        <div class="col-md-4">
                            <!-- <mat-form-field appearance="outline">
                                <mat-select name="product_Category_{{j}}" #paymentMode="ngModel" (selectionChange)="selectProductCategoryChange(payoutGenDetail.airFreightCityPrdctCtgys, $event)"
                                    [(ngModel)]="airFrProduct.prdctCtgyId" (ngModelChange)="editInput(airFrProduct)"
                                    required>
                                    <mat-option *ngFor="let pcList of productcategoryList | sortBy:'asc':'prdctCtgy'"
                                        [value]="pcList.id"
                                        [disabled]="pcList.check" >
                                        {{pcList.prdctCtgy}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field class="select_box_dropwodn overline_hidden allc">
                                <mat-select disableOptionCentering panelClass="mat_ngx_booking Sel_ProdCtgry" style="width: 100%;" name="product_Category_{{j}}" #paymentMode="ngModel" (selectionChange)="selectProductCategoryChange(payoutGenDetail.airFreightCityPrdctCtgys, $event)"
                                [(ngModel)]="airFrProduct.prodIdArray" (ngModelChange)="editInput(airFrProduct)" multiple
                                required>
                                    <ngx-mat-select-search [(ngModel)]="searchcityFromType[j]" [ngModelOptions]="{standalone: true}" [placeholderLabel]="'Search...'"
                                    [noEntriesFoundLabel]="'Not found'" name="search">
                                    <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search_booking">search</mat-icon>
                                    </ngx-mat-select-search>
                                    <mat-option *ngFor="let assoExpType of (productcategoryList | stringFilterBooking:searchcityFromType[j]:'prdctCtgy') | sortBy:'asc':'prdctCtgy'" [value]="assoExpType.id" [disabled]="assoExpType.check"
                                    matTooltipPosition="above" [matTooltip]="assoExpType.prdctCtgy | uppercase" [matTooltipDisabled]="assoExpType.prdctCtgy?.length<24">
                                    {{assoExpType.prdctCtgy}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding_10">
                <div class="row">
                    <div class="col-md-3 myDIV">
                        <button class="btn btn-sm weightbtn" [ngClass]="{'active': airFrProduct.wtCalcCtgy == 'RATE PER KG'}"
                            (click)="rateFunctionProduct('RATE PER KG',airFrProduct)" style="margin: 0 2px;"
                            *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE PER KG'))">RATE PER KG</button>
                        <button class="btn btn-sm weightbtn" [ngClass]="{'active': airFrProduct.wtCalcCtgy == 'TOTAL WEIGHT'}"
                            (click)="weightFunctionProduct('TOTAL WEIGHT',airFrProduct)" style="margin: 0 2px;"
                            *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT CALCULATION CATEGORY'))">TOTAL WEIGHT</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE PER KG'))">
            <div class="padding_10" *ngIf="airFrProduct.wtCalcCtgy=='RATE PER KG'">
                <div class="row">
                    <div class="col-md-2">
                        <mat-label><strong>Rate Per KG</strong><span class="redMark"> *</span>
                        </mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <input matInput name="price_{{j}}" class="form-control Sel_RateperKg3
                            " #price="ngModel"
                                placeholder="" [(ngModel)]="airFrProduct.price" (ngModelChange)="editInput(airFrProduct)"   maxlength="11" OnlyNumber="true" numeric  required>
                        </mat-form-field>
                        <div *ngIf="(price.errors?.required && price.touched)" class="errorMsg">
                           <em> Required !</em>
                        </div>
                        <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                        class="errorMsg">
                          <em> Invalid !</em>
                      </div> 
                    </div>
                </div>
            </div>
            </div>

            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT CALCULATION CATEGORY'))">
            <div class="padding_10" *ngIf="airFrProduct.wtCalcCtgy=='TOTAL WEIGHT'">
                <form name="customSla_{{j}}" #fCustomSla="ngForm" novalidate >
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="col-lg-5 col-md-4 zonalheadingbar">SLAB DEFINING (IN KG)<br>
                            FROM
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            TO
                        </div>
                        <div class="col-lg-5 col-md-5 zonalheadingbar">RATE PER KG <span class="redMark"> *</span></div>
                        <div class="col-md-1">
                            <div class="label_and_add" >
                                <button mat-button [disabled]="validCust(fCustomSla.form, airFrProduct) || !fCustomSla.form.valid || airFrProduct.maxFlag"   mat-card-avatar aria-label="Example icon" class="mat_icon_moz " (click)="addSlabTotalWeightProduct(airFrProduct, false)">
                                    <mat-icon class="add_icon"  >add</mat-icon>
                                </button>
                                <!-- <span>
                                    <mat-icon class="add_icon" (click)="addSlabTotalWeightCity(airFrCity, false)">add</mat-icon>
                                 </span> -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt_5">
                    <div class="col-lg-6 col-md-6">
                        <div class="row"
                            *ngFor="let dslab of airFrProduct?.airFreightWtSlabChrgs ;let i=index">
                            <div class="col-lg-2 col-md-6 module_area">
                                <mat-form-field appearance="outline" style="width: 60%;">
                                    <input matInput autocomplete="true" class="form-control Sel_RateperKg4"
                                        [(ngModel)]="dslab.slabFrom" (ngModelChange)="editInput(dslab)" [numbersOnly] = true maxlength="8" [disabled]="true" #slabFrom="ngModel"
                                        name="slabFrom_{{i}}" maxlength="8">
                                </mat-form-field>
                                <div *ngIf="(slabFrom.errors?.required && slabFrom.touched)"
                                    class="errorMsg">
                                   <em> Required !</em>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-6 module_area">
                                <mat-label><strong>To</strong></mat-label>
                            </div>

                            <div class="col-lg-2 col-md-6 module_area">
                                <mat-form-field appearance="outline" style="width: 60%;">
                                    <input matInput autocomplete="true" class="form-control" maxlength="8"
                                        [(ngModel)]="dslab.slabTo" (ngModelChange)="editInput(dslab)" #slabTo="ngModel" [numbersOnly] = true maxlength="8" numeric
                                        name="slabTo_{{i}}" (blur)="validCust(fCustomSla.form, airFrProduct)"
                                        (keyup)="changeValue(i, 'slabTo', $event.target.value, airFrProduct )" required>
                                </mat-form-field>
                                <div *ngIf="(slabTo.errors?.required && slabTo.touched)" class="errorMsg">
                                   <em> Required !</em>
                                </div>
                                <ng-container *ngIf="!slabTo.errors?.required">
                                    <div *ngIf="((dslab.flag && slabTo.touched) || (slabTo.errors?.isNumeric && slabTo.touched))" class="errorMsg">
                                    <em> Invalid !</em>
                                    </div>
                                </ng-container>  
                            </div>
                            <div class="col-lg-4 col-md-6 module_area">
                                <mat-form-field appearance="outline" style="width: 60%;">
                                    <input matInput autocomplete="true" class="form-control" 
                                        [(ngModel)]="dslab.price" (ngModelChange)="editInput(dslab)" #price="ngModel"
                                        name="price_{{i}}"  maxlength="11" OnlyNumber="true"  numeric required>
                                </mat-form-field>
                                <div *ngIf="(price.errors?.required && price.touched)" class="errorMsg">
                                   <em> Required !</em>
                                </div>
                                <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                                class="errorMsg">
                                  <em> Invalid !</em>
                              </div> 

                            </div>
                            <div class="row_center delete_icon"  *ngIf=" ((i == (airFrProduct?.airFreightWtSlabChrgs.length - 1) ) && i > 0)" 
                                matTooltipPosition="above">
                                <span class="material-icons" (click)="deleteSlabTOTALWEIGHT(airFrProduct?.airFreightWtSlabChrgs,i)"
                                    style="color: #27AE60; cursor: pointer; float: right !important;">delete</span>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <hr>
            </div>
            </div>

            <div class="row pL_10" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('PER WAYBILL MIN'))">
                <div class="col-md-2"  style="    width: max-content;" >
                    <mat-label><strong>Minimum Amt. Per Air Waybill</strong><span class="redMark">
                            *</span></mat-label>

                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <input matInput name="minAmt_{{j}}" class="form-control Sel_MinAmt1" placeholder="" #minAmt="ngModel"
                            [(ngModel)]="airFrProduct.minAmt" (ngModelChange)="editInput(airFrProduct)" required  [numbersOnly] = true numeric maxlength="8" >
                    </mat-form-field>
                    <div *ngIf="(minAmt.errors?.required && minAmt.touched)" class="errorMsg">
                       <em> Required !</em>
                    </div>
                    <div *ngIf="(minAmt.errors?.isNumeric && !(minAmt.errors?.required && minAmt.touched))"
                    class="errorMsg">
                      <em> Invalid !</em>
                  </div> 
                </div>
            </div>
            <div class="row pL_10">
                <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('START DATE'))">
                <div class="col-md-1">
                    <mat-label><strong>Start Date </strong><span class="redMark"> *</span>
                    </mat-label>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="date_picker_adjust">
                        <mat-datepicker #bookingDate1 class="myDatepicker23">
                        </mat-datepicker>
                        <input matInput [matDatepicker]="bookingDate1" class="date_input_height Sel_startDt1"
                            name="effectiveDt_{{j}}" #effectiveDt="ngModel"
                            [(ngModel)]="airFrProduct.effectiveDt" placeholder="DD/MM/YYYY"
                            [min]="minDateStart" [max]="maxdate" (blur)="effectiveDate(true,airFrProduct)"
                            (dateChange)="effectiveDate(true,airFrProduct)"
                            (ngModelChange)="editInput(airFrProduct)" required
                            numericSpecialChar />
                        <mat-datepicker-toggle matPrefix [for]="bookingDate1">
                        </mat-datepicker-toggle>
                    </mat-form-field>
                    <div *ngIf="airFrProduct.isValidExpDt && !(effectiveDt.errors?.required)"
                        class="errorMsg">
                        Invalid Start Date!
                    </div>
                    <div *ngIf="(effectiveDt.errors?.required && effectiveDt.touched)" class="errorMsg">
                       <em> Required !</em>
                    </div>
                </div>
                </div>
                <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('END DATE'))">
                <div class="col-md-1">
                    <mat-label><strong>End Date </strong></mat-label>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="date_picker_adjust Sel_EndDt1">
                        <mat-datepicker #bookingDate2 class="myDatepicker23">
                        </mat-datepicker>
                        <input matInput [matDatepicker]="bookingDate2" class="date_input_height Sel_EndDt4"
                            #expDt="ngModel" (ngModelChange)="editInput(airFrProduct)"
                            [(ngModel)]="airFrProduct.expDt" name="expDt_{{j}}" placeholder="DD/MM/YYYY"
                            [min]="minDate" (dateChange)="expDate(airFrProduct)"
                            (blur)="expDate(airFrProduct)" numericSpecialChar />
                        <mat-datepicker-toggle matPrefix [for]="bookingDate2">
                        </mat-datepicker-toggle>
                    </mat-form-field>
                    <div *ngIf="airFrProduct.isValidExpDt && !(expDt.errors?.required)"
                        class="errorMsg">
                        Invalid End Date!
                    </div>
                    </div>
                </div>
            </div>
            <!-- <hr> -->

        </mat-expansion-panel>
    </div>


</div>
<!-- Weight -->
<div class="row" *ngIf="AddWeightFlag"> 
    <hr>
    <div class="col-md-12" *ngFor="let airFrWeight of payoutGenDetail.airFreightCityPrdctCtgys;let w=index" >     
            <div class="padding_10">
                <div class="row">
                    <div class="col-md-3 myDIV">
                        <button class="btn btn-sm weightbtn" [ngClass]="{'active': airFrWeight.wtCalcCtgy == 'RATE PER KG'}"
                            (click)="rateFunctionProduct('RATE PER KG',airFrWeight)"
                            *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE PER KG'))">RATE PER KG</button>
                        <button class="btn btn-sm weightbtn" [ngClass]="{'active': airFrWeight.wtCalcCtgy == 'TOTAL WEIGHT'}"
                            (click)="weightFunctionProduct('TOTAL WEIGHT',airFrWeight)"
                            *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT CALCULATION CATEGORY'))">TOTAL WEIGHT</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE PER KG'))">
            <div class="padding_10" *ngIf="airFrWeight.wtCalcCtgy=='RATE PER KG'">
                <div class="row">
                    <div class="col-md-2">
                        <mat-label><strong>Rate Per KG</strong><span class="redMark"> *</span>
                        </mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <input matInput name="price_{{w}}" class="form-control" #price="ngModel"
                                placeholder="" [(ngModel)]="airFrWeight.price" (ngModelChange)="editInput(airFrWeight)" required  maxlength="11" OnlyNumber="true" numeric >
                        </mat-form-field>
                        <div *ngIf="(price.errors?.required && price.touched)" class="errorMsg">
                           <em> Required !</em>
                        </div>
                        <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                        class="errorMsg">
                          <em> Invalid !</em>
                      </div> 
                    </div>
                </div>
            </div>
            </div>

            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT CALCULATION CATEGORY'))">
            <div class="padding_10" *ngIf="airFrWeight.wtCalcCtgy=='TOTAL WEIGHT'">
                <form name="customSla_{{j}}" #fCustomSla="ngForm" novalidate >
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="col-lg-5 col-md-4 zonalheadingbar">SLAB DEFINING (IN KG)<br>
                                FROM
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                TO
                            </div>
                            <div class="col-lg-5 col-md-5 zonalheadingbar">RATE PER KG  <span class="redMark"> *</span></div>
                            <div class="col-md-1">
                                <div class="label_and_add">
                                    <button mat-button [disabled]="validCust(fCustomSla.form, airFrWeight) || !fCustomSla.form.valid || airFrWeight.maxFlag"   mat-card-avatar aria-label="Example icon" class="mat_icon_moz " (click)="addSlabTotalWeightProduct(airFrWeight, false)">
                                    <mat-icon class="add_icon" >add</mat-icon>
                                    </button>
                                    <!-- <span>
                                        <mat-icon class="add_icon" (click)="addSlabTotalWeightCity(airFrCity, false)">add</mat-icon>
                                     </span> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt_5">
                        <div class="col-lg-6 col-md-6">
                            <div class="row"
                                *ngFor="let dslab of airFrWeight?.airFreightWtSlabChrgs ;let i=index">
                                <div class="col-lg-2 col-md-6 module_area">
                                    <mat-form-field appearance="outline" style="width: 60%;">
                                        <input matInput autocomplete="true" class="form-control Sel_RateperKg5"
                                            [(ngModel)]="dslab.slabFrom" (ngModelChange)="editInput(dslab)" [numbersOnly] = true maxlength="8" [disabled]="true" #slabFrom="ngModel"
                                            name="slabFrom_{{i}}" maxlength="8">
                                    </mat-form-field>
                                    <div *ngIf="(slabFrom.errors?.required && slabFrom.touched)"
                                        class="errorMsg">
                                       <em> Required !</em>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-6 module_area">
                                    <mat-label><strong>To</strong></mat-label>
                                </div>

                                <div class="col-lg-2 col-md-6 module_area">
                                    <mat-form-field appearance="outline" style="width: 60%;">
                                        <input matInput autocomplete="true" class="form-control"
                                            [(ngModel)]="dslab.slabTo" (ngModelChange)="editInput(dslab)" [numbersOnly] = true  numeric maxlength="8" #slabTo="ngModel"
                                            name="slabTo_{{i}}" (blur)="validCust(fCustomSla.form, airFrWeight)" 
                                            (keyup)="changeValue(i, 'slabTo', $event.target.value, airFrWeight )" required>
                                    </mat-form-field>
                                    <div *ngIf="(slabTo.errors?.required && slabTo.touched)" class="errorMsg">
                                       <em> Required !</em>
                                    </div>
                                    <ng-container *ngIf="!slabTo.errors?.required">
                                        <div *ngIf="((dslab.flag && slabTo.touched) || (slabTo.errors?.isNumeric && slabTo.touched))" class="errorMsg">
                                        <em> Invalid !</em>
                                        </div>
                                    </ng-container>  
                                </div>
                                <div class="col-lg-4 col-md-6 module_area">
                                    <mat-form-field appearance="outline" style="width: 60%;">
                                        <input matInput autocomplete="true" class="form-control" 
                                            [(ngModel)]="dslab.price" (ngModelChange)="editInput(dslab)" #price="ngModel"
                                            name="price_{{i}}"  maxlength="11" [numbersOnly] = true numeric required >
                                    </mat-form-field>
                                    <div *ngIf="(price.errors?.required && price.touched)" class="errorMsg">
                                       <em> Required !</em>
                                    </div>
                                    <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                                    class="errorMsg">
                                      <em> Invalid !</em>
                                  </div>

                                </div>
                                <div class="row_center delete_icon" *ngIf=" ((i == (airFrWeight?.airFreightWtSlabChrgs.length - 1) ) && i > 0)" 
                                    matTooltipPosition="above">
                                    <span class="material-icons"  (click)="deleteSlabTOTALWEIGHT(airFrWeight?.airFreightWtSlabChrgs,i)"
                                        style="color: #27AE60; cursor: pointer; float: right !important;">delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
            </div>

            <div class="row pL_10" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('PER WAYBILL MIN'))">
                <div class="col-md-2" style="    width: max-content;">
                    <mat-label><strong>Minimum Amt. Per Air Waybill </strong><span class="redMark">
                            *</span></mat-label>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <input matInput name="minAmt_{{w}}" class="form-control Sel_MinAmt2" placeholder="" #minAmt="ngModel"
                            [(ngModel)]="airFrWeight.minAmt" (ngModelChange)="editInput(airFrWeight)" required  [numbersOnly] = true numeric maxlength="8" >
                    </mat-form-field>
                    <div *ngIf="(minAmt.errors?.required && minAmt.touched)" class="errorMsg">
                       <em> Required !</em>
                    </div>
                    <!-- <div *ngIf="(minAmt.errors?.isNumeric && !(minAmt.errors?.required && minAmt.touched))"
                    class="errorMsg">
                      <em> Invalid !</em>
                  </div> -->
                  <div *ngIf="(minAmt.errors?.isNumeric && !(minAmt.errors?.required && minAmt.touched))"
                  class="errorMsg">
                    <em> Invalid !</em>
                </div> 
                </div>
            </div>
            <div class="row pL_10">
                <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('START DATE'))">
                    <div class="col-md-1">
                        <mat-label><strong>Start Date </strong><span class="redMark"> *</span>
                        </mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                            <mat-datepicker #bookingDate1 class="myDatepicker23">
                            </mat-datepicker>
                            <input matInput [matDatepicker]="bookingDate1" class="date_input_height"
                                name="effectiveDt_{{w}}" #effectiveDt="ngModel"
                                [(ngModel)]="airFrWeight.effectiveDt" placeholder="DD/MM/YYYY"
                                [min]="minDateStart" [max]="maxdate" (blur)="effectiveDate(true,airFrWeight)"
                                (dateChange)="effectiveDate(true,airFrWeight)"
                                (ngModelChange)="editInput(airFrWeight)" required
                                numericSpecialChar />
                            <mat-datepicker-toggle matPrefix [for]="bookingDate1">
                            </mat-datepicker-toggle>
                        </mat-form-field>
                        <div *ngIf="airFrWeight.isValidExpDt && !(effectiveDt.errors?.required)"
                            class="errorMsg">
                            Invalid Start Date!
                        </div>
                        <div *ngIf="(effectiveDt.errors?.required && effectiveDt.touched)" class="errorMsg">
                        <em> Required !</em>
                        </div>
                    </div>
                </div>
                <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('END DATE'))">
                    <div class="col-md-1">
                        <mat-label><strong>End Date </strong></mat-label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                            <mat-datepicker #bookingDate2 class="myDatepicker23">
                            </mat-datepicker>
                            <input matInput [matDatepicker]="bookingDate2" class="date_input_height Sel_EndDt7"
                                #expDt="ngModel" (ngModelChange)="editInput(airFrWeight)"
                                [(ngModel)]="airFrWeight.expDt" name="expDt_{{w}}" placeholder="DD/MM/YYYY"
                                [min]="minDate" (dateChange)="expDate(airFrWeight)"
                                (blur)="expDate(airFrWeight)" numericSpecialChar />
                            <mat-datepicker-toggle matPrefix [for]="bookingDate2">
                            </mat-datepicker-toggle>
                        </mat-form-field>
                        <div *ngIf="airFrWeight.isValidExpDt && !(expDt.errors?.required)"
                            class="errorMsg">
                            Invalid End Date!
                        </div>
                    </div>
                </div>
            </div>
            

    
    </div>


</div>

<div  *ngIf="paymentForm.invalid?validationData(paymentForm.invalid):validationData(paymentForm.invalid)"></div>
</form>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>