.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.iconclass {
  background-color: green;
  color: white;
  border-radius: 15px;
  font-size: 10px;

}

.customiconclass {
  background-color: green;

  color: white;
  border-radius: 15px;
  font-size: 15px;

}

.green {
  color: green !important;
}


.buttonround {
  border-radius: 50%;
  background-color: white;

}

.msaButton {
  margin-right: 1rem;
  position: relative;
  bottom: .6rem;
}


header {
  position: relative;
  height: 300px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

h1 {
  margin: 0;
  padding: 100px 0;  
  text-align: center;
}

header h1 {
  color: white;
}

.round-box {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: green;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.flex-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.mt100 {
  margin-top: 8rem;
}

.mt15 {
  margin-top: 15px!important;
}

.round-box h3 {
  margin: 0px;
  text-align: center;
  font-size: 12px !important;
  margin-bottom: 9px;
}




.whiteBlock {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 2rem; 
  margin-top: 3rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px .3rem .6rem #00000029;
  opacity: 1;
  color: #27AE60;
  cursor: pointer !important;
  }
  .whiteBlock h3{margin-bottom: 0 !important;}
  
.whiteBlock .material-icons.heart_icon {
  color: #b00020!important;
}

  .greenBlock {
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 2rem; 
    margin-top: 3rem;
    background: #27AE60;
    box-shadow: 0px .3rem .6rem #00000029;
    opacity: 1;
    color: white;
    cursor:  pointer !important;
  }
  .top_block {
    margin-top: 0 !important;
  }

.greenBlock h3 {
  margin-bottom: 0 !important;
}
.greenBlock .material-icons.iconSize {
  color: #fff !important;
}

.white {
  color: #fff !important;
}

.red {
  color: #B00020 !important;
}

.black {
  color: black !important;
}

.orange {
  color: orange !important;
}

@media only screen and (max-width: 767px) {
  .count_card {
    margin-bottom: 15px;
  }

  .mo_mb10 {
    margin-bottom: 10px;
  }

  .mo_float_left {
    float: left;
  }
}
.redTextColor{color: #B00020;display: block;text-align: center;margin-top: .5rem;margin-bottom: .5rem;}
.whiteTextColor{color: #fff;display: block;text-align: center;margin-top: .5rem;margin-bottom: .5rem;}

.cardPointer {
  cursor: pointer;
  font-weight: bold;
  font-size: 3.5rem;
  color: #27AE60;
}

.cardPointerRed {
  cursor: pointer;
  color: #B00020 !important;
  font-weight: bold;
  font-size: 3.5rem;
}


.count_card {
  background: #fff;
  padding: 4rem 4.5rem;
  border-radius: 8px;
  height: 20rem;
}

h2 {
  margin-top: 0rem !important;
}

.header{position: fixed;
  height: 34rem;
  background: #27AE60;
  border-bottom-left-radius: 55% 45%;
  border-bottom-right-radius: 55% 45%;
  margin-top: 3% !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;}

.countCard {
  margin-top: -15rem !important;
  width: 100% !important;
}

.bookingContainer .container {
  width: 80.5% !important;
  margin-left: 24rem;
}

.containerWidth {
  width: 100%;
}

.row_center_width {
  width: 10rem;
  margin-right: 1rem;
}

.fontSizeDashboard{font-size: 1.8rem !important; border-bottom: 0 !important;font-weight: bold;margin-top: 1rem !important;}


.iconSize {
  font-size: 2.5rem !important;
}

.heartIcon {
  float: right !important;
  color: #B00020
}

.heartIcon1 {
  float: right !important;
}

/* .matCardBottom {
  border-radius: 1rem;
  margin-right: 1rem;
  height: 18rem;
} */

.cardAroundSpace {
  padding-right: 0 !important;
  margin-bottom: 2rem !important;
}

.topCircle {
  width: 11rem;
  height: 17rem;
  position: absolute;
  right: 0;
  top: 1.8rem;
  background: rgba(0, 0, 0, .02);
  z-index: 0;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
}

.bottomCircle {
  width: 17rem;
  height: 15rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .02);
  z-index: 0;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 0;
}

.cardImageIcon {
  margin-bottom: 7px !important;
  float: right !important;
  position: absolute !important;
  right: 2rem !important;
  bottom: 7rem !important;
  width: 24px;
}

.roundCardText {
  font-size: 1.8rem !important;
  text-align: center !important;
  border-bottom: 0 !important;
}



td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  font-size: 1.6rem !important;
  padding: 1rem !important;
}

th.mat-header-cell {
  text-transform: uppercase !important;
  line-height: 1.3 !important;
  font-weight: 600 !important;
  min-height: 4.8rem !important;
}
th.mat-header-cell .mat-sort-header-button {
  text-transform: uppercase !important;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-left: 2.4rem !important;
  font-weight: 600 !important;
}

tr.mat-footer-row,
tr.mat-header-row,
tr.mat-row {min-height: 4.8rem !important;padding-top: .2rem !important;}

/* css 11/May/2020 start */

.mat_table_input .mat-row,
.mat-header-row {
  border-color: rgba(0,0,0,.12) !important;
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: rgba(0,0,0,.12) !important;
}



.mat-table {
  border-bottom: 1px solid #eee !important;
   font-family: "Open Sans", sans-serif !important;
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

tr.mat-row {
  height: auto !important;
}

.float_right {
  float: left !important;
}

.dsh_right_card {
  margin-left: 15% !important;
}

.active {
  background: #27ae60 !important;
}

.dsh_right_card .mat-icon {
  font-size: 17px !important;
}

.dsh_right_card img {
  width: auto !important;
}

.mat-cell,
.mat-footer-cell {
  font-weight: 400 !important;
}

.mat-header-cell {
  color: rgba(0,0,0,.54);
}




.mat-row {
   height: auto !important;
  background: #fff !important;
  border-bottom: 1px solid #eee !important;
}

.d_top_3card .mat-card {
  box-shadow: none;
  height: 20rem;
  padding: 4rem 4.5rem;
}
.d_top_3card {
  margin-top: 27.5rem;
}

  /* mat Table */
  td.mat-cell{font-weight: normal !important;}
  /* end of mat table */

  /* .mat-select { position: absolute;top: 1rem;} */
.associateContainer .searchBy .mat-select-value {
    padding-top: 4px !important;
}
.left {
  float: left;
  width: 16rem;
}
.left.searFild {
  width: 23rem;
}
  .iconColor{color: #27AE60 !important;}
  .greetingcontainer{width: 100%; margin-top: -5rem;margin-bottom: -5rem;}
  .marginTop{margin-top: 4rem !important;}
  .marginTop21{margin-top: 19rem !important;}
  .flexNone{flex: none !important;}
  .paddingZero{padding: 0 !important}
  .paddingleftZero{padding-left: 0 !important;}

  .backgroundGren {
    background-color: #e4ffe4!important;
 }
 .module_area {
   margin-top: 0.6rem;
   margin-left: -9.5rem;
   margin-bottom: 0.4rem;
 }
 .mat-radio-button {
   margin-right: 3rem !important;
 }

 /*------------- Drag drop cards css ------- */

 .border{
  border: 1px solid gray;
  height: 495px;
}

.favourite_block {
  border: 1px solid gray;
  padding: 20px;

}

.drag_drop_box_without_border {
  border: none;
  height: 495px;

}

.bottomMargin{margin-bottom: 2rem;width: 18%;}

.iconImage{float: right;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 3.2rem;
  right: 1.2rem;}

.blockIconSize{font-size: 2.5rem !important;}
.example-card .cursor {
  cursor: pointer !important;
}


.countCard{margin-top: -15rem !important;width: 100% !important;}
 .bookingContainer .container{width: 100% !important;}
 .containerWidth{width: 100%;}
 .row_center_width{width: 10rem;margin-right: 1rem;}
 .fontSizeDashboard{font-size: 1.8rem !important; border-bottom: 0 !important;font-weight: bold;margin-top: 1rem !important;}
 .iconSize{font-size: 2.5rem !important;}
 .heartIcon{float: right !important; color: #B00020;font-size: 2.5rem;}
 .heartIcon1{float:right !important; font-size: 2.5rem;position: relative; right: -1rem !important;top: -.5rem;}
 .bookmark{font-size: 2.5rem;position: relative; top: -1.3rem;}
 .matCardBottom{border-radius: 1rem; margin-right: 1rem;height: 13rem; position: relative; padding: 1rem;}
 .cardAroundSpace{padding-right: 0 !important; margin-bottom: 2rem !important;}
 .topCircle{width: 11rem;height: 17rem;position: absolute;right: 0;top: 1.8rem;background: rgba(0,0,0,.02);z-index: 0;border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;border-top-right-radius: 7%;border-bottom-right-radius: 7%;}
 .bottomCircle{width: 17rem;height: 15rem;position: absolute;right: 0;bottom: 0;background: rgba(0,0,0,.02);z-index: 0;
  border-top-left-radius: 70px;border-bottom-left-radius: 70px;border-top-right-radius: 70px;border-bottom-right-radius: 0;}
.cardImageIcon{margin-bottom: 7px !important;float:right !important; position: absolute !important;right: 2rem !important;bottom: 5rem !important;width: 4rem;height: 4rem;}
.roundCardText{font-size: 1.8rem !important; text-align: center !important;border-bottom: 0 !important;}
.bottomCard{font-size: 2.1rem !important; font-family: inherit;font-weight: 500;line-height: 1.1;color: #27AE60 !important;}

.border{
  border: 1px solid gray;
  height: 495px;
}

.favourite_block {
  border: 1px solid gray;
  padding: 20px;

}

@media only screen and (max-width: 767px){
  .count_card {
    margin-bottom: 15px;
  }

  .mo_mb10 {
    margin-bottom: 10px;
  }

  .mo_float_left {
     float: left;
  }
  .bottomMargin{display: block !important; width: 100% !important;}
  #cdk-drop-list-0{height: 18rem !important;}
  .iconImage{top: 0 !important;}
  .searchInput{margin-left: 0 !important; margin-bottom: 1rem !important;}
}

.mat-sort-header-arrow, [dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: 0 0 0 .1rem;
}

/***** Solve favourite and bookmark icon css issue if table data less than 10 *****/ 
.dragDrp_zindx {
  z-index: 1 !important;
}