<section class="bookingContainer header">

</section>
<div class="container greetingcontainer">
  <div class="row">
    <div class="col-md-9">
      <p style="color: white;font-size: 3.2rem !important;"><span style="opacity: .9;">{{this.greeting()}}, </span>
        <strong style="text-transform: uppercase;"> {{userName}}</strong></p>
    </div>
    <div class="col-md-3 text-right">
      <label style="color: white;font-size: 3rem;
      margin-right: 10px;">AIR FREIGHT</label> <br>
      <label style="color: white;font-size: 3rem;
      margin-right: 10px;">ASSOCIATE CONTRACT</label>
    </div>
  </div>
</div>

<div class="container containerWidth marginTop21">
  <div class="row countCard">
    <div class="col-md-4" *ngxPermissionsOnly="['ACTIVE CONTRACTS_READ']">
      <mat-card class="count_card" style="border-radius: 1rem" (click)="onSelectBlock('ACTIVE')">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem; cursor: pointer; ">
            Total Active Contracts
          </label>
          <h2 class="cardPointer marginBottomOne">
            {{dashboardTotalCount.totalCount}}
          </h2>
          <h5>Today</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>

      </mat-card>

    </div>
    <div class="col-md-4" *ngxPermissionsOnly="['DRAFT CONTRACTS_READ']">
      <mat-card class="count_card" (click)="onSelectBlock('DRAFT')">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem; cursor: pointer;">Draft Mode</label>
          <h2 class="cardPointerRed marginBottomOne">{{dashboardTotalCount.draftCount}}
          </h2>
          <h5>Today</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4" *ngxPermissionsOnly="['EXPIRING SOON CONTRACTS_READ']">
      <mat-card class="count_card" (click)="onSelectBlock('EXPIRING SOON')">
        <mat-card-content>
          <label style="color: #27AE60;font-size: 2.2rem; cursor: pointer;">
            Expiring Soon
          </label>
          <h2 class="cardPointerRed marginBottomOne">
            {{dashboardTotalCount.expCount}}</h2>
          <h5>This Month</h5>
          <div class="topCircle"></div>
          <div class="bottomCircle"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<section class="container mt15 containerWidth">
  <div class="row">
    <div class="col-md-10">
      <mat-card style="min-height: 60rem !important;">
        <!--    In case of Pending Contract  start-->

        <div class="row"
          *ngIf="selectedValue === 'EXPIRING SOON' || selectedValue === 'ACTIVE' || selectedValue === 'PENDING'|| selectedValue === 'DRAFT' || selectedValue === 'INACTIVE'">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <h5 class="content" *ngIf="selectedValue === 'EXPIRING SOON'"><strong>EXPIRING SOON
                    ({{dashboardTotalCount.expCount}})</strong></h5>
                <h5 class="content" *ngIf="selectedValue === 'ACTIVE'"><strong>ACTIVE
                    ({{dashboardTotalCount.totalCount}})</strong></h5>
                <h5 class="content" *ngIf="selectedValue === 'DRAFT'"><strong>DRAFT MODE
                    ({{dashboardTotalCount.draftCount}})</strong></h5>
                <h5 class="content" *ngIf="selectedValue === 'PENDING'"><strong>PENDING
                    ({{dashboardTotalCount.pendingCount}})</strong></h5>
                <h5 *ngIf="selectedValue === 'INACTIVE'"><strong>TERMINATED
                    ({{dashboardTotalCount.inactiveCount}})</strong></h5>
              </div>
              <div class="col-md-7" *ngIf="selectedValue === 'ACTIVE'">
                <div class="module_area">
                  <mat-radio-group [(ngModel)]="activeStatusValue">
                    <mat-radio-button value="ACTIVE" (click)="onSelectBlock('ACTIVE')"> Active
                    </mat-radio-button>
                    <mat-radio-button value="EXPIRED" (click)="callexpiredstatusapi('EXPIRED', 'enterTrue')"> Expired
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <div class="left searType">
                  <mat-form-field class="select_box_dropwodn overline_hidden searchBy creditSelect" style="background: #27ae60;  height: 20px;">
                    <mat-select disableOptionCentering panelClass="creditSelect"  name="searchBy"  required [(ngModel)]="searchBy">
                      <mat-option *ngFor="let item of searchOption" [value]="item" >
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="left searFild">
                  <a style="cursor: pointer;position: relative;">
                    <span class="fa fa-search fa-lg" style="left: .7rem" id="defualtBranchSearch" style="left: 3px!important; top: 4px;"></span>
                    <input name="searchfilter"  [(ngModel)]="searchString" class="form-control not-mat-form input-md"
                      placeholder="Search" appSearchFieldCheck [disabled]="inputFild" (keyup.enter)="this.enterPressed = true" (keyup)="runSearchBy()" (blur)="hideMsg()" style="height: 2.7rem; padding-left: 2.3rem;"
                      minlength="3" />
                    <div class="error2">
                      <label *ngIf="minchar" class="validation-message">Please Enter 3 Character </label>
                      <label *ngIf="nomatch" class="validation-message">No Match Found</label>
                    </div>
                  </a> 
                </div>
              </div>
          
              
            </div>
          </div>

        </div>


        <div class="row">
          <div class="table-responsive" style="margin-bottom: 30px; overflow: hidden !important;">

            <table aria-describedby="table" mat-table [dataSource]="dataSource" matSort matSortDisableClear
             class="mat-elevation-z8"
              *ngxPermissionsOnly="['CREATE CONTRACT_READ']">
              <!-- Position Column -->
              <ng-container matColumnDef="contactFname">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                  <div class="assoName">ORG. NAME</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="selectedValue === 'DRAFT'">
                  <a (click)="createContrctnavigartion(element)">
                    <div class="row_center row_center_width" style="width: 13rem !important;font-weight: normal;" 
                    matTooltipPosition="above" [matTooltip]="element.companyName | uppercase">{{element.companyName}}</div>
                  </a>
                </div>
                <div *ngIf="selectedValue != 'DRAFT'">
                  <div class="row_center row_center_width" style="width: 13rem !important;font-weight: normal;"
                  matTooltipPosition="above" [matTooltip]="element.companyName | uppercase" >{{element.companyName}}</div>
                </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="cntrCode" *ngIf="selectedValue === 'ACTIVE'">
                <th scope="col" mat-header-cell *matHeaderCellDef style="width: 19rem;"  mat-sort-header>CONTRACT CODE</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" style="width: 19rem;" [matTooltip]="element.cntrCode" matTooltipPosition="above">
                    {{element.cntrCode}}</div>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="vendorDeptt">
                <th scope="col" mat-header-cell *matHeaderCellDef [ngStyle]="{'width' : dataSource?.data.length != 0 ? '20rem' : ''}"
                  mat-sort-header>VENDOR DEPARTMENT</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" style="width: 19rem;"  matTooltipPosition="above"
                    [matTooltip]="element.vendorDeptt | lookupValue : 'descr' : rfrencList.assocDeptList">
                    {{ element.vendorDeptt | lookupValue : "descr" : rfrencList.assocDeptList }} </div>
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="gstinNum" *ngIf="selectedValue !== 'ACTIVE' ">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" [matTooltip]="element.gstinNum" matTooltipPosition="above">
                    {{element.gstinNum}}</div>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="panNum" *ngIf="selectedValue !== 'ACTIVE' ">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>PAN </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" style="width: 11rem !important;" [matTooltip]="element.panNum" matTooltipPosition="above">
                    {{element.panNum}}</div>
                </td>
              </ng-container>
              <!-- Saleforce id -->
              <ng-container matColumnDef="mob">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>MOBILE NO. </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" [matTooltip]="element.mob" matTooltipPosition="above">
                    {{element.mob}} </div>
                </td>
              </ng-container>
              <!-- msaCustAddrs id -->
              <ng-container matColumnDef="contractStartDate">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>CONTRACT START DATE </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width"> {{element.contractStartDate | date: 'dd/MM/yyyy'}} </div>
                </td>
              </ng-container>
              <!-- Saleforce id -->
              <ng-container matColumnDef="contractCreationDate">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>CREATION/ UPDATE DATE</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row_center row_center_width" style="font-weight: normal !important;color: red;">
                    {{element.contractUpdateDate | date: 'dd/MM/yyyy'}}</div>
                </td>
              </ng-container>
              <ng-container matColumnDef="version"
                *ngIf="selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON' || selectedValue === 'INACTIVE'">
                <th scope="col" mat-header-cell *matHeaderCellDef class="flexNone"> </th>
                <td mat-cell *matCellDef="let element" class="flexNone paddingleftZero" style="padding: 0 !important;">
                  <em class="material-icons iconSize green paddingZero" *ngxPermissionsOnly="['VIEW CONTRACT_READ']"
                    style="cursor: pointer;" (click)="openDialogContractVersion(element)">visibility</em>
                </td>
              </ng-container>
              <ng-container matColumnDef="edit" *ngIf="selectedValue === 'ACTIVE' || selectedValue === 'EXPIRING SOON'">
                <th scope="col" mat-header-cell *matHeaderCellDef class="flexNone"> </th>
                <td mat-cell *matCellDef="let element" class="flexNone" style="padding-left: 0 !important;">
                  <em class="material-icons iconSize green paddingZero" style="cursor: pointer;" *ngxPermissionsOnly="['CREATE CONTRACT_UPDATE']"
                    (click)="showEditFlowPopup(element)">create</em>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="getStatus(row) ? 'backgroundGren' : ''"></tr>
            </table>
            <div panelClass="paginator">
              <mat-paginator 
                [pageSize]="pageSize"
                (page)="run($event)" 
                [length]="totalItems"
                class="paginator" 
                [pageSizeOptions]="[10, 20, 30]" 
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>

      </mat-card>
    </div>
    <!-- <div class="col-md-2">
      <div class="mo_float_left pull-right top_block" *ngxPermissionsOnly="['DRAFT CONTRACTS_READ']"
        [ngClass]="selectedValue === 'DRAFT' ? 'greenBlock' : 'whiteBlock'" (click)="onSelectBlock('DRAFT')">
        <img alt="img"[src]="selectedValue === 'DRAFT' ? '/assets/images/draft_white.png' :'/assets/images/inDraftMode_icon.png'"
          width="26px" alt="inDraftMode_icon">
        <h3 class="fontSizeDashboard" [ngClass]="selectedValue === 'DRAFT' ? 'white' : 'green'">Draft Mode <span
            [ngClass]="selectedValue === 'DRAFT' ? 'whiteTextColor' : 'redTextColor'">({{dashboardTotalCount.draftCount}})
          </span></h3>
        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'DRAFT' ? 'white' : 'green'">turned_in_not</mat-icon>
          <mat-icon class="iconSize heart_icon" [ngClass]="selectedValue === 'DRAFT' ? 'white' : 'red'">favorite
          </mat-icon>
        </div>
      </div>

      <div *ngxPermissionsOnly="['EXPIRING SOON CONTRACTS_READ']" class="pull-right" [ngClass]="selectedValue === 'EXPIRING' ? 'greenBlock' : 'whiteBlock'"
        (click)="onSelectBlock('EXPIRING')" style="cursor: pointer;">
        <img alt="img"width="26px" alt="img"
          [src]="selectedValue === 'EXPIRING' ? '/assets/images/expiring_white.png' : '/assets/images/expiring_icon.png'">
        <h3 class="fontSizeDashboard">Expiring Soon <span
            [ngClass]="selectedValue === 'EXPIRING' ? 'whiteTextColor' : 'redTextColor'">({{dashboardTotalCount.expCount}})</span>
        </h3>
        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'EXPIRING' ? 'white' : 'green'">turned_in_not
          </mat-icon>
          <mat-icon class="iconSize heart_icon" [ngClass]="selectedValue === 'EXPIRING' ? 'white' : 'red'">favorite
          </mat-icon>
        </div>
      </div>

      <div class="pull-right" [ngClass]="selectedValue === 'ACTIVE' ? 'greenBlock' : 'whiteBlock'"
        (click)="onSelectBlock('ACTIVE')" *ngxPermissionsOnly="['ACTIVE CONTRACTS_READ']">
        <img
          [src]="selectedValue === 'ACTIVE' ? '/assets/images/searchContact_white.png' : '/assets/images/searchContract_icon.png'"
          alt="searchContrac">
        <h3 class="fontSizeDashboard">Active Contracts <span
            [ngClass]="selectedValue === 'ACTIVE' ? 'whiteTextColor' : 'redTextColor'">({{dashboardTotalCount.totalCount}})</span>
        </h3>

        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'ACTIVE' ? 'white' : 'green'">turned_in_not</mat-icon>
          <mat-icon class="iconSize heart_icon" [ngClass]="selectedValue === 'ACTIVE' ? 'white' : 'red'">favorite
          </mat-icon>
        </div>
      </div>
      <div class="pull-right" *ngxPermissionsOnly="['VIEW CONTRACT_READ']" [ngClass]="selectedValue === 'INACTIVE' ? 'greenBlock' : 'whiteBlock'"
        (click)="onSelectBlock('INACTIVE')">
        <img
          [src]="selectedValue === 'INACTIVE' ?  '/assets/images/terminated_contract_white.png' :'/assets/images/terminated_contract.png'"
          width="35px" style="margin-bottom: -1.5rem;" alt="terminated_contract">

        <h3 class="fontSizeDashboard text-center">Terminated<span
            [ngClass]="selectedValue === 'INACTIVE' ? 'whiteTextColor' : 'redTextColor'">({{dashboardTotalCount.inactiveCount}})</span></h3>
        <div>
          <mat-icon class="iconSize" [ngClass]="selectedValue === 'INACTIVE' ? 'white' : 'green'">turned_in_not
          </mat-icon>
          <mat-icon class="iconSize heart_icon" [ngClass]="selectedValue === 'INACTIVE' ? 'white' : 'red'">favorite
          </mat-icon>
        </div>
      </div>
    </div> -->


    <div class="col-md-2 dragDrp_zindx" cdkDropList
      [ngClass]="draggedObjects?.length == 0 ? 'border' : 'drag_drop_box_without_border'" #bookmarked="cdkDropList"
      [cdkDropListData]="draggedObjects" [cdkDropListConnectedTo]="[simple]" (cdkDropListDropped)="drop($event)">
      <p *ngIf="draggedObjects.length == 0">Drop Here...</p>
      <div *ngFor="let item of draggedObjects; let j=index">
        <div class="pull-right" *ngxPermissionsOnly="[item.permission]"
          [ngClass]="selectedValue === item?.targetValue ? 'greenBlock' : 'whiteBlock'"
          (click)="onSelectBlock(item?.targetValue)" cdkDrag>
          <img style="margin-bottom: 0px;" width="26px" [src]="getImagePath(item?.imagePath,item?.targetValue)"
            alt="icon" />
          <h3 *ngIf="item.targetValue == 'MSA'" class="fontSizeDashboard text-center" [title]="item?.targetValue"
            style="text-overflow: ellipsis;width: 100%; padding: 0rem 0.7rem;">New {{item?.targetValue}} </h3>

          <h3 *ngIf="item.targetValue == 'ASSOCIATE MASTER'" class="fontSizeDashboard text-center"
            [title]="item?.targetValue" style="text-overflow: ellipsis;width: 100%; padding: 0rem 0.7rem;">
            {{item?.targetValue | titlecase}} </h3>

          <h3 *ngIf="item.targetValue != 'ASSOCIATE MASTER' && item.targetValue != 'MSA'" class="fontSizeDashboard text-center" [title]="item?.objectName"
            style="text-overflow: ellipsis;width: 100%; padding: 0rem 0.7rem;"> {{item?.objectName | titlecase}} </h3>

          <h3 class="fontSizeDashboard" [ngClass]="selectedValue === item?.targetValue ? 'white' : 'red'"><span
              *ngIf="item.count">({{item?.count}})</span></h3>
          <div style="margin-top: 5px;">
            <mat-icon matTooltip="Mark the object as pinned" class="blockIconSize" (click)="addToPinnedObj(item,j)"
              [ngClass]="checkIsPinned(item) ? 'orange' : selectedValue === item.targetValue ? 'white' : 'black'">
              {{item.bookmarkIcon}}</mat-icon>
            <mat-icon matTooltip="Mark the object as favourite" class="blockIconSize" (click)="addToFavorite(item,j)"
              [ngClass]="checkIsFavorite(item) ? 'red' : selectedValue === item?.targetValue ? 'white' : 'green'">
              {{item.favoriteIcon}}</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


<section>
  <div class="container containerWidth" style="margin-top: 2rem;margin-bottom: 50px;">

    <!-- <div class="row">
      <div class="item item-3 col-md-3 col-sm-6 mo_mb10 cardAroundSpace">
        <mat-card class="example-card matCardBottom" routerLink="/asso_booking-contract/create-associate-contract" skipLocationChange>
          <mat-card-content>
            <mat-icon style="padding-top:2px;color:black">turned_in_not</mat-icon>
            <mat-icon class="heartIcon1 ">favorite</mat-icon>
            <h3 style="color: #27AE60;font-size: 2rem !important;margin-top: 0;font-weight: 600;">Associate <br>Master
              <img alt="img"src="../assets/images/associatemaster.png" class="cardImageIcon" width="35px"
                alt="associatemaster" />
            </h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="item item-3 col-md-3 col-sm-6 mo_mb10 cardAroundSpace" *ngxPermissionsOnly="['CREATE CONTRACT_CREATE']">
        <mat-card class="example-card matCardBottom" (click)="newContract()">
          <mat-card-content>
            <mat-icon style="padding-top:2px;color:black">turned_in_not</mat-icon>
            <mat-icon class="heartIcon1 ">favorite</mat-icon>
            <h3 style="color: #27AE60;font-size: 2rem !important;margin-top: 0;font-weight: 600;">New MSA
              <img src="../assets/images/library_books-24px.png" class="cardImageIcon" width="35px"
                alt="associatemaster" />
            </h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="item item-3 col-md-3 col-sm-6 mo_mb10 cardAroundSpace" *ngxPermissionsOnly="['REPORTS_READ']">
        <mat-card class="example-card matCardBottom" (click)="onSelectBlock(value)">
          <mat-card-content>
            <mat-icon style="padding-top:2px;color:black">turned_in_not</mat-icon>
            <mat-icon class="heartIcon1 ">favorite</mat-icon>
            <h3 style="color: #27AE60;font-size: 2rem !important;margin-top: 0;font-weight: 600;">Report
              <img alt="img"src="../assets/images/terminal.png" class="cardImageIcon" width="35px" alt="terminal" />
            </h3>
          </mat-card-content>
        </mat-card>
      </div>

    </div> -->

    <div class="row" cdkDropList [ngClass]="cardDetails?.length == 0 ? 'favourite_block' : '' " #simple="cdkDropList"
      [cdkDropListData]="cardDetails" [cdkDropListConnectedTo]="[bookmarked]" (cdkDropListDropped)="drop($event)">
      <p *ngIf="cardDetails.length == 0">Drop Here...</p>
      <div class="item item-3 col-md-3 col-sm-6 mo_mb10 paddingrightzero dropdown bottomMargin"
        *ngFor="let data of cardDetails;  let k=index" cdkDrag>
        <mat-card class="example-card matCardBottom dropdown" (click)="onSelectBlock(data?.targetValue)" *ngxPermissionsOnly="[data.permission]">
          <mat-card-content>
            <mat-icon matTooltip="Mark the object as pinned" matTooltipPosition="above" class="bookmark"
              (click)="addToPinnedObj(data,k)" [ngClass]="checkIsPinned(data) ? 'orange' : 'black'">
              {{data.bookmarkIcon}}</mat-icon>
            <mat-icon matTooltip="Mark the object as favourite" matTooltipPosition="above" class="heartIcon1"
              (click)="addToFavorite(data,k)" [ngClass]="checkIsFavorite(data) ? 'red' : 'green'">{{data.favoriteIcon}}
            </mat-icon>
            <div class="row cursor">
              <div class="col-md-10 cursor">
                <label *ngIf="data.targetValue == 'MSA'" class="fontSizeDashboard cursor" style="color: #27AE60; font-size: 2rem;display: block;white-space: nowrap;"
                  [title]="data?.targetValue"> New {{data?.targetValue}}
                </label>
                <label *ngIf="data.targetValue == 'ASSOCIATE MASTER'"  class="fontSizeDashboard cursor" style="color: #27AE60; font-size: 2rem;display: block;" [title]="data?.targetValue">
                  {{data?.targetValue | titlecase}}
                </label>
                <label *ngIf="data.targetValue != 'ASSOCIATE MASTER' && data.targetValue != 'MSA'" class="fontSizeDashboard cursor"
                  style="color: #27AE60; font-size: 2rem;display: block;" [title]="data?.objectName">
                  {{data?.objectName | titlecase}}
                </label>
              </div>
              <div class="col-md-2">
                <img class="iconImage" alt="icon" [src]="getImagePathCard(data?.imagePath,data?.targetValue)" />
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</section>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>