<!-- breadcrumb start -->
<section class="booking_breadcrumb_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-toolbar class="breadcrumbs_nav mat-toolbar-multiple-rows">
            <mat-toolbar-row class="breadcrumbs">
              <span><a skipLocationChange routerLink="/asso_booking-contract/asso_booking">Dashboard</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span>VEHICLE</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <h2>Vehicle</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<section class="req_table_sec booking_msa_sec">
  <div class="container-fluid">
    <div class="black_card_blank"></div>
    <form [formGroup]="vehicleForm" autocomplete="off">
      <div class="booking_card padding_0">
        <div class="vehicle_page_sec">
          <div class="row">
            <div class="col-md-2">
              <button mat-button class="db_module active vehicle_mstr_btn">Vehicle Master</button>
            </div>
            <div class="col-md-10">
              <h3 class="vehicle_master_h mt_15">Vehicle Master</h3>
              <div class="row">
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Associate</strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="rateCardCode" class="form-control" placeholder="Associate Name"
                          [value]="associateData.companyName" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Finance by Safexpress<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="sefex" formControlName="sfxFinFlag">
                          <mat-radio-button class="Sel_FinanceByExpress_yes" [value]="1" style="padding-right: 30px;">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_FinanceByExpress_No"[value]="0">No</mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.sfxFinFlag.errors?.required && f.sfxFinFlag.touched"><em>Required
                            !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Is Vendor Market<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="vmarket" formControlName="vendorMktFlag">
                          <mat-radio-button class="Sel_VendorMarket_yes" [value]="1" style="padding-right: 30px;"
                            (change)="onChangeVendorMktFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_VendorMarket_No"  [value]="0" (change)="onChangeVendorMktFlag($event.value)">No
                          </mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.vendorMktFlag.errors?.required && f.vendorMktFlag.touched">
                          <em>Required !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.vendorMktFlag.value !== '' && f.vendorMktFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Owner<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="rateCardCode" class="form-control" placeholder=""
                          formControlName="vehicleOwner">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.vehicleOwner.errors?.required && f.vehicleOwner.touched">
                        <em>Required !</em> </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Make</strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field class="select_box_dropwodn overline_hidden">
                          <mat-label>Select</mat-label>
                          <mat-select disableOptionCentering panelClass="mat_ngx_booking" (selectionChange)="onSelectMake($event.value)" formControlName="vehicleMakeId">
                            <ngx-mat-select-search [(ngModel)]="searchVehMake" [ngModelOptions]="{standalone: true}" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="search">
                              <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search_booking">search</mat-icon>
                            </ngx-mat-select-search>
                            <mat-option *ngFor="let make of (vehicleMakeList | stringFilterBooking:searchVehMake:'vehicleMakeName') | sortBy:'asc':'vehicleMakeName'" [value]="make.id"
                            matTooltipPosition="above" [matTooltip]="make.vehicleMakeName | uppercase" [matTooltipDisabled]="make.vehicleMakeName?.length<24">
                              {{make.vehicleMakeName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.vehicleMakeId.errors?.required && f.vehicleMakeId.touched">
                          <em>Required !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Model<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field class="select_box_dropwodn overline_hidden">
                          <mat-label>Select</mat-label>
                          <mat-select disableOptionCentering panelClass="mat_ngx_booking" formControlName="vehicleModelId">
                            <ngx-mat-select-search [(ngModel)]="searchVehModel" [ngModelOptions]="{standalone: true}" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="search">
                              <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search_booking">search</mat-icon>
                            </ngx-mat-select-search>
                            <mat-option *ngFor="let model of (filteredModelList | stringFilterBooking:searchVehModel:'vehicleModelName') | sortBy:'asc':'vehicleModelName'" [value]="model.id"
                            matTooltipPosition="above" [matTooltip]="model.vehicleModelName | uppercase" [matTooltipDisabled]="model.vehicleModelName?.length<24">
                              {{model.vehicleModelName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.vehicleModelId.errors?.required && f.vehicleModelId.touched">
                          <em>Required !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Model Year<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="modelYear" class="form-control" placeholder=""
                          formControlName="vehicleModelYear" autocomplete="off" [numbersOnly] = true pattern="^[0-9]\d*$" maxlength="8" required>
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.vehicleModelYear.errors?.required && f.vehicleModelYear.touched">
                        <em>Required !</em></div>
                        <div class="errorMsg" *ngIf="f.vehicleModelYear.errors?.pattern">
                          <em>Numbers Only</em></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle No.<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="vehicleNum" class="form-control" placeholder=""
                          formControlName="vehicleNum" autocomplete="off" alphanumeric maxlength="12">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.vehicleNum.errors?.required && f.vehicleNum.touched"><em>Required
                          !</em></div>
                      <div class="errorMsg" *ngIf="f.vehicleNum.errors?.pattern && f.vehicleNum.touched"><em>Invalid
                        !</em></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Engine No.<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="engineNum" class="form-control" placeholder=""
                          formControlName="engineNum" autocomplete="off" maxlength="100">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.engineNum.errors?.required && f.engineNum.touched"><em>Required
                          !</em></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Chassis No.<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="chassisNum" class="form-control" placeholder=""
                          formControlName="chassisNum" autocomplete="off" maxlength="100">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.chassisNum.errors?.required && f.chassisNum.touched"><em>Required
                          !</em></div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 12px;">
                    <div class="col-md-6">
                      <mat-label><strong>Registration State<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field class="select_box_dropwodn overline_hidden">
                          <mat-label>Select</mat-label>
                          <mat-select disableOptionCentering panelClass="mat_ngx_booking" formControlName="regStateId">
                            <ngx-mat-select-search [(ngModel)]="searchStateName" [ngModelOptions]="{standalone: true}" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="search">
                              <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search_booking">search</mat-icon>
                            </ngx-mat-select-search>
                            <mat-option *ngFor="let state of (stateList | stringFilterBooking:searchStateName:'stateName') | sortBy:'asc':'stateName'" [value]="state.id"
                            matTooltipPosition="above" [matTooltip]="state.stateName | uppercase" [matTooltipDisabled]="state.stateName?.length<24">
                              {{state.stateName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.regStateId.errors?.required && f.regStateId.touched"><em>Required
                            !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Registration Upto<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate1 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate1" class="date_input_height" placeholder="" (blur)="checkValidDate(f.regUpto)"
                            formControlName="regUpto" name="regUpto" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate1">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.regUpto.errors?.required && f.regUpto.touched"><em>Required
                            !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Insurance No.<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="insuNum" class="form-control" placeholder="" autocomplete="off" formControlName="insuNum" maxlength="100">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.insuNum.errors?.required && f.insuNum.touched"><em>Required
                          !</em></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Insurance Company<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="insuComapny" class="form-control" placeholder=""
                          formControlName="insuComapny" autocomplete="off" maxlength="100">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.insuComapny.errors?.required && f.insuComapny.touched">
                        <em>Required !</em>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Insurance Upto<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate2 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate2" class="date_input_height" placeholder=""
                            formControlName="insuUpto" (blur)="checkValidDate(f.insuUpto)" name="insuUpto" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate2">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.insuUpto.errors?.required && f.insuUpto.touched"><em>Required
                            !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Is Tax Paid<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="isTax" formControlName="taxPaidFlag">
                          <mat-radio-button class="Sel_IsTaxFlag_yes" [value]="1" style="padding-right: 30px;"
                            (change)="onChangeTaxPaidFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_IsTaxFlag_no" [value]="0" (change)="onChangeTaxPaidFlag($event.value)">No
                          </mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.taxPaidFlag.errors?.required && f.taxPaidFlag.touched">
                          <em>Required !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.taxPaidFlag.value !== '' && f.taxPaidFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Tax Paid Date<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate3 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate3" class="date_input_height" placeholder=""
                            formControlName="taxPaidDt" (blur)="checkValidDate(f.taxPaidDt)" name="taxPaidDt" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate3">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.taxPaidDt.errors?.required && f.taxPaidDt.touched"><em>Required
                            !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.taxPaidFlag.value !== '' && f.taxPaidFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Tax Paid Validity<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate4 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate4" class="date_input_height" placeholder=""
                            formControlName="taxPaidValidity" (blur)="checkValidDate(f.taxPaidValidity)" name="taxPaidValidity" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate4">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.taxPaidValidity.errors?.required && f.taxPaidValidity.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>National Permit<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="nationalPermitFlag" formControlName="nationalPermitFlag">
                          <mat-radio-button class="Sel_nationalPermitFlag_yes" [value]="1" style="padding-right: 30px;">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_nationalPermitFlag_no" [value]="0">No</mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg"
                          *ngIf="f.nationalPermitFlag.errors?.required && f.nationalPermitFlag.touched"><em>Required
                            !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Pollution Check<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="pollutionCheckFlag" formControlName="pollutionCheckFlag">
                          <mat-radio-button  class="Sel_PollutionFlag_yes" [value]="1" style="padding-right: 30px;"
                            (change)="onChangePollutionCheckFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_PollutionFlag_no" [value]="0" (change)="onChangePollutionCheckFlag($event.value)">No
                          </mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg"
                          *ngIf="f.pollutionCheckFlag.errors?.required && f.pollutionCheckFlag.touched"><em>Required
                            !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.pollutionCheckFlag.value !== '' && f.pollutionCheckFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Pollution Check Date<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate5 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate5" class="date_input_height" placeholder=""
                            formControlName="pollutionCheckDt" (blur)="checkValidDate(f.pollutionCheckDt)" name="pollutionCheckDt" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate5">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.pollutionCheckDt.errors?.required && f.pollutionCheckDt.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.pollutionCheckFlag.value !== '' && f.pollutionCheckFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Pollution Validity<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate6 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate6" class="date_input_height" placeholder=""
                            formControlName="pollutionValidity" (blur)="checkValidDate(f.pollutionValidity)" name="pollutionValidity" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate6">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg"
                          *ngIf="f.pollutionValidity.errors?.required && f.pollutionValidity.touched"><em>Required
                            !</em></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Fitness Check<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="fCheck" formControlName="fitnessCheckFlag">
                          <mat-radio-button [value]="1" style="padding-right: 30px;"
                            (change)="onChangeFitnessCheckFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button [value]="0" (change)="onChangeFitnessCheckFlag($event.value)">No
                          </mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.fitnessCheckFlag.errors?.required && f.fitnessCheckFlag.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.fitnessCheckFlag.value !== '' && f.fitnessCheckFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Fitness Check Date<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate7 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate7" class="date_input_height" placeholder=""
                            formControlName="fitnessCheckDt" (blur)="checkValidDate(f.fitnessCheckDt)" name="fitnessCheckDt" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate7">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.fitnessCheckDt.errors?.required && f.fitnessCheckDt.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.fitnessCheckFlag.value !== '' && f.fitnessCheckFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Fitness Validity<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate8 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate8" class="date_input_height" placeholder=""
                            formControlName="fitnessCheckValidity" (blur)="checkValidDate(f.fitnessCheckValidity)" name="fitnessCheckValidity"
                            placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate8">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg"
                          *ngIf="f.fitnessCheckValidity.errors?.required && f.fitnessCheckValidity.touched"><em>Required
                            !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Body Length(in feets)<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="bodyLength" class="form-control" placeholder=""
                          formControlName="bodyLength" autocomplete="off" alphanumeric maxlength="10">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.bodyLength.errors?.required && f.bodyLength.touched"><em>Required
                          !</em>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Body Width(in feets)<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="bodyWidth" class="form-control" placeholder=""
                          formControlName="bodyWidth" autocomplete="off" alphanumeric maxlength="10">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.bodyWidth.errors?.required && f.bodyWidth.touched"><em>Required
                          !</em>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Body Height(in feets)<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="bodyHeight" class="form-control" placeholder=""
                          formControlName="bodyHeight" autocomplete="off" alphanumeric maxlength="10">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.bodyHeight.errors?.required && f.bodyHeight.touched"><em>Required
                          !</em>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle Body<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field class="select_box_dropwodn overline_hidden">
                          <mat-label>Select</mat-label>
                          <mat-select formControlName="lkpVehicleBodyId">
                            <mat-option *ngFor="let vBody of vehicleBodyList" [value]="vBody.id">
                              {{vBody.descr}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.lkpVehicleBodyId.errors?.required && f.lkpVehicleBodyId.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Tare Weight<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="tareWt" class="form-control" placeholder="" autocomplete="off" formControlName="tareWt"  OnlyNumber="true" numeric maxlength="8" required>
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.tareWt.errors?.required && f.tareWt.touched"><em>Required !</em>
                      </div>
                      <div class="errorMsg" *ngIf="f.tareWt.errors?.isNumeric && !(f.tareWt.touched && f.tareWt.errors?.required)"><em>Invalid !</em>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Painted With Logo<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="paintedLogoFlag" formControlName="paintedLogoFlag">
                          <mat-radio-button [value]="1" style="padding-right: 30px;"
                            (change)="onChangeBodyPaintFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button [value]="0" (change)="onChangeBodyPaintFlag($event.value)">No
                          </mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.paintedLogoFlag.errors?.required && f.paintedLogoFlag.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.paintedLogoFlag.value !== '' && f.paintedLogoFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Body Paint Date<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate9 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate9" class="date_input_height" placeholder=""
                            formControlName="bodyPaintDt" (blur)="checkValidDate(f.bodyPaintDt)" name="bodyPaintDt" placeholder="DD/MM/YYYY" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate9">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.bodyPaintDt.errors?.required && f.bodyPaintDt.touched">
                          <em>Required !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Is AC Vehicle<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="vehicleAcFlag" formControlName="vehicleAcFlag">
                          <mat-radio-button class="Sel_IsACFlag_Yes" [value]="1" style="padding-right: 30px;"
                            (change)="onChangeVehicleAcFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_IsACFlag_No" [value]="0" (change)="onChangeVehicleAcFlag($event.value)">No
                          </mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.vehicleAcFlag.errors?.required && f.vehicleAcFlag.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.vehicleAcFlag.value !== '' && f.vehicleAcFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>Body AC<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="bodyAcFlag" formControlName="bodyAcFlag">
                          <mat-radio-button [value]="1" style="padding-right: 30px;">Yes
                          </mat-radio-button>
                          <mat-radio-button [value]="0">No</mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.bodyAcFlag.errors?.required && f.bodyAcFlag.touched"><em>Required
                            !</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Is GPS enabled<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-radio-group name="gpsEnabledFlag" formControlName="gpsEnabledFlag">
                          <mat-radio-button class="Sel_IsGPSEnabledFlag_yes" [value]="1" style="padding-right: 30px;"
                            (change)="onChangeGpsFlag($event.value)">Yes
                          </mat-radio-button>
                          <mat-radio-button class="Sel_IsGPSEnabledFlag_No" [value]="0" (change)="onChangeGpsFlag($event.value)">No</mat-radio-button>
                        </mat-radio-group>
                        <div class="errorMsg" *ngIf="f.gpsEnabledFlag.errors?.required && f.gpsEnabledFlag.touched">
                          <em>Required !</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.gpsEnabledFlag.value !== '' && f.gpsEnabledFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>GPS Vendor<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="gpsVendor" class="form-control" placeholder=""
                          formControlName="gpsVendor">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.gpsVendor.errors?.required && f.gpsVendor.touched"><em>Required
                          !</em>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="f.gpsEnabledFlag.value !== '' && f.gpsEnabledFlag.value ==1">
                    <div class="col-md-6">
                      <mat-label><strong>GPS Device Id<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="gpsDeviceNum" class="form-control" placeholder=""
                          formControlName="gpsDeviceNum" maxlength="100">
                      </mat-form-field>
                      <div class="errorMsg" *ngIf="f.gpsDeviceNum.errors?.required && f.gpsDeviceNum.touched">
                        <em>Required !</em>
                        !</div>
                    </div>
                  </div>
                  <div class="fixedDiv">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-label><strong>Is Fast Tag<span class="redMark">*</span></strong></mat-label>
                      </div>
                      <div class="col-md-6">
                        <div class="module_area">
                          <mat-radio-group name="fastTagFlag" formControlName="fastTagFlag">
                            <mat-radio-button class="Sel_IsFastTag_yes" [value]="1" style="padding-right: 30px;"
                              (change)="onChangeFastTagFlag($event.value)">Yes
                            </mat-radio-button>
                            <mat-radio-button class="Sel_IsFastTag_No" [value]="0" (change)="onChangeFastTagFlag($event.value)">No
                            </mat-radio-button>
                          </mat-radio-group>
                          <div class="errorMsg" *ngIf="f.fastTagFlag.errors?.required && f.fastTagFlag.touched">
                            <em>Required !</em>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="f.fastTagFlag.value !== '' && f.fastTagFlag.value ==1">
                      <div class="col-md-6">
                        <mat-label><strong>Fast Tag Id<span class="redMark">*</span></strong></mat-label>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <input matInput name="fastTagNum" class="form-control" placeholder=""
                            formControlName="fastTagNum" autocomplete="off" maxlength="100">
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.fastTagNum.errors?.required && f.fastTagNum.touched"><em>Required
                            !</em>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Vehicle State Permit</strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field class="select_box_dropwodn overline_hidden">
                          <mat-label>Select</mat-label>
                          <mat-select matTooltipPosition="above" [(ngModel)]="selected" matTooltip="{{getToolTipDEata(selected)}}" disableOptionCentering panelClass="mat_ngx_booking" formControlName="vehicleStatePermits" multiple>
                            <ngx-mat-select-search [(ngModel)]="searchStateName1" [ngModelOptions]="{standalone: true}" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="search">
                              <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search_booking">search</mat-icon>
                            </ngx-mat-select-search>
                            <mat-option style="z-index: 100;" *ngFor="let state of (stateList | stringFilterBooking:searchStateName1:'stateName') | sortBy:'asc':'stateName'" [value]="state.id"
                            matTooltipPosition="above" [matTooltip]="state.stateName | uppercase" [matTooltipDisabled]="state.stateName?.length<5">
                              {{state.stateName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Description</strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput name="descr" class="form-control" placeholder="" formControlName="descr">
                      </mat-form-field>
                    </div>
                  </div>
                                    <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Effective Date<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate10 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate10" class="date_input_height" placeholder=""
                            formControlName="effectiveDt" name="effectiveDt" placeholder="DD/MM/YYYY" [min]="minDate"
                            (dateChange)="effectiveDate()" (blur)="effectiveDate()" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate10">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.effectiveDt.errors?.required && f.effectiveDt.touched">
                          <em>Required !</em>
                        </div>
                        <div *ngIf="isValidEffectiveDt && !(f.effectiveDt.errors?.required)" class="errorMsg">
                          <em>Invalid Effective Date!</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Expiry Date</strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field appearance="outline" class="date_picker_adjust">
                          <mat-datepicker #vrDate11 class="myDatepicker23">
                          </mat-datepicker>
                          <input matInput [matDatepicker]="vrDate11" class="date_input_height" placeholder=""
                            formControlName="expDt" name="expDt" placeholder="DD/MM/YYYY" [min]="maxdate"
                            (dateChange)="expDate()" (blur)="expDate()" numericSpecialChar/>
                          <mat-datepicker-toggle matPrefix [for]="vrDate11">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                        <div *ngIf="isValidExpDt" class="errorMsg">
                          <em>Invalid Expiry Date!</em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-label><strong>Status<span class="redMark">*</span></strong></mat-label>
                    </div>
                    <div class="col-md-6">
                      <div class="module_area">
                        <mat-form-field class="select_box_dropwodn overline_hidden">
                          <mat-select disableOptionCentering panelClass="creditSelect" formControlName="status">
                            <mat-option [value]="1">
                              ACTIVE
                            </mat-option>
                            <mat-option [value]="0" [disabled]="!id">
                              INACTIVE
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div class="errorMsg" *ngIf="f.status.errors?.required && f.status.touched"><em>Required !</em>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center mtb_30">
                  <button mat-button class="white-button" (click)="onBackClick($event)">Back</button>
                  <button mat-button class="theme-button" (click)="onSaveVehicle()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </form>
  </div>
</section>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>