<div class="container">
    <div class="row">
        <div class="col-md-12 air_bread_crumb">
          <a routerLink="/asso_air-contract/asso_air">Dashboard</a>
          <span class="fa fa-caret-right"></span>
          <a class="bcb-air-log">API LOG</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title-air">
            <label class="page-title-air">API LOG</label><br>
            <label class="category-title-air" >AIR FREIGHT ASSOCIATE</label>
        </div>
    </div>
</div>
<section class="container mt15 associateAirContainer">
    <div class="row">
        <div class="col-md-12">
            <mat-card style="min-height: 47rem; padding-bottom: 65px;">
                <div class="row">
                    <div id="assoc_airfrieght_apilog" class="row" style="font-size:13px; margin-left: 0.2rem;">
                        <div class="col-md-3" id="asso-air-log-search" style="display: flex; align-items: center; margin-bottom: 5px;">
                          <div style="width: 100%">Search :</div>
                          <mat-form-field>
                            <input matInput type="text" (keyup)="doFilter($event.target.value)">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4" style="display: flex; align-items: center; padding-top: 5px;">
                            <div style="margin-right: 15px; margin-bottom: -5px; width: 100%;">Select No Of Days :</div>
                                <mat-form-field appearance="outline" id="asso-air-log-days" style="width: auto; margin-top: 5px;">
                                    <mat-select name="numberOfDays" [(value)]="selectedDays"
                                        (selectionChange)="selectNumberOfDays($event.value)">
                                        <mat-option *ngFor="let ndays of [5,10,15,20,25,30, 'more than 30']"
                                            [value]="ndays">
                                            {{ndays}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                         </div>
                        <div class="col-md-4" style="display: flex; align-items: center; padding-top: 10px; ">
                          <div style="margin-bottom: 10px; width: 100%; margin-bottom: 0px;">Select no of retries : </div>
                          <mat-form-field appearance="outline" id="asso-air-log-retries" style="margin-left: 10px !important; font-size: 12px; width: auto">
                              <mat-select name="numberOfRetries" [(value)]="selectedRetries" (selectionChange)="selectNumberOfRetries($event.value)">
                                  <mat-option *ngFor="let nretries of [1,2,3,4,5,'All']" [value]="nretries">
                                      {{nretries}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <div class="table_scroll" *ngIf="sectionData?.length">
                            <table mat-table matSortDisableClear [dataSource]="dataSource" matSort
                                class="mat-elevation-z8 dashboardTable" aria-describedby="table">

                                <!-- id Column -->
                                <ng-container matColumnDef="id">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:6%; padding-left: 2.5% !important;"> ID </th>
                                    <td mat-cell *matCellDef="let element" style="width:6%; text-align: left;">
                                        {{element.id}}</td>
                                </ng-container>

                                <!-- apiName Column -->
                                <ng-container matColumnDef="apiName">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:15%; padding-left: 2.5% !important;"> API NAME </th>
                                    <td mat-cell *matCellDef="let element" style="width:15%; text-align: left; padding: 0 5px;">
                                        {{element.apiName}}</td>
                                </ng-container>

                                <!-- errorCode Column -->
                                <ng-container matColumnDef="errorCode">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:2%;"> Error Code </th>
                                    <td mat-cell *matCellDef="let element" style="width:2%; padding-left: 1% !important;">
                                        {{element.errorCode}}</td>
                                </ng-container>

                                <!-- Error Msg  -->
                                <ng-container matColumnDef="errorMsg">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:10%;"> Error Msg </th>
                                    <td mat-cell *matCellDef="let element" style="width:10%; text-align: left;"><a
                                            (click)="openModal(element.errorMsg)"
                                            style="cursor: pointer; text-decoration: underline; color: lightcoral; text-transform: none !important;">{{element.errorMsg
                                            ? 'Error Message' : ''}}</a> </td>
                                </ng-container>

                                <!-- extInterface -->
                                <ng-container matColumnDef="extInterface">
                                    <th scope="row" mat-header-cell *matHeaderCellDef
                                        style="width:3%;"> Ext Inter
                                    </th>
                                    <td mat-cell *matCellDef="let element" style="width:3%; padding-left: 1.5% !important;">
                                        {{element.extInterface}}</td>
                                </ng-container>

                                <!-- interfaceName -->
                                <ng-container matColumnDef="interfaceName">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:9%;"> Interface Name
                                    </th>
                                    <td mat-cell *matCellDef="let element" style="width:9%; text-align: left;padding: 0 5px; padding-left: 1.5%;">
                                        {{element.interfaceName}}</td>
                                </ng-container>

                                <!-- lastRetry -->
                                <ng-container matColumnDef="lastRetry">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:10%; padding-left: 0.5% !important;"> Last Retry </th>
                                    <td mat-cell *matCellDef="let element" style="width:10%; text-align: left; word-break: break-word !important; padding: 0 5px;">
                                        {{element.lastRetry | date : 'dd/MM/yyyy h:mm:ss a'}}</td>
                                </ng-container>

                                <!-- logDate -->
                                <ng-container matColumnDef="logDate">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:10%; padding-left: 0.5% !important;"> Log Date </th>
                                    <td mat-cell *matCellDef="let element" style="width:10%; text-align: left; word-break: break-word !important; padding: 0 5px;">
                                        {{element.logDate | date : 'dd/MM/yyyy h:mm:ss a'}}</td>
                                </ng-container>

                                <!-- objName column -->
                                <ng-container matColumnDef="objName">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:10%;"> Obj Name </th>
                                    <td mat-cell *matCellDef="let element" style="width:10%; text-align: left; padding: 0 5px 0 0">
                                        {{element.objName}}</td>
                                </ng-container>

                                <!-- payload column -->
                                <ng-container matColumnDef="payload">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:12%; padding-left: 2.5% !important;"> Payload </th>
                                    <td mat-cell *matCellDef="let element" style="width:12%; text-align: left; padding: 0 5px;">
                                        <a (click)="openModal(element.payload)"
                                            style="cursor: pointer; text-decoration: underline; color: lightblue; text-transform: none !important;">
                                            {{element.payload ? 'Request Payload' : ''}}</a>
                                    </td>
                                </ng-container>


                                <!-- retries column -->
                                <ng-container matColumnDef="retries">
                                    <th scope="row" mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="width:3%;"> Retries </th>
                                    <td mat-cell *matCellDef="let element"
                                        style="width:3%; text-align: center;">{{element.retries}}</td>
                                </ng-container>

                                <ng-container matColumnDef="userId">
                                    <th scope="row" mat-header-cell *matHeaderCellDef
                                        style="width:13%; padding-right: 0 !important;">User ID </th>
                                    <td mat-cell *matCellDef="let element" style="width:13%; padding-right: 0 !important;">
                                        {{element.userId}}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <div *ngIf="!sectionData?.length" style="height: 200px; text-align: center; padding: 50px">
                            <h3>No Records Found</h3>
                        </div>
                        <div panelClass="paginator" [hidden]="!sectionData?.length">
                            <mat-paginator class="paginator" [pageSize]="5"  [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</section>
<section>
    <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise"></ngx-spinner>
</section>
