<!-- breadcrumb start -->
<section class="booking_breadcrumb_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div>
          <mat-toolbar class="breadcrumbs_nav">
            <mat-toolbar-row class="breadcrumbs">
              <span><a skipLocationChange routerLink="/asso_cargo-contract/asso_cargo">Dashboard</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span><a skipLocationChange routerLink="/asso_cargo-contract/asso_cargo">Contracts</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span>Associate Contract</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <h2>Cargo Contract</h2>
        </div>
      </div>
      <div class="col-md-7 mt_40 mob_hide progress_bar_booking">
        <stepper></stepper>
        </div>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<!-- msa-4 start -->
<section class="req_table_sec booking_msa_sec branch_location_sec">
  <!-- <div class="container-fluid"> -->
    <div class="booking_card padding_0">
      <!-- Display header -->
      <app-header-data></app-header-data>
      <form name="CreateBranch" (ngSubmit)="fCreateBranch.form.valid" #fCreateBranch="ngForm" novalidate  class="rateCardDetail" autocomplete="off">
        <div class="row plr_15">
          <div class="col-md-12">
            <mat-expansion-panel class="box_shadow_none" [expanded]="true">
              <mat-expansion-panel-header class="collapse_panel_header">
                  Branch Allocation
              </mat-expansion-panel-header>
              <div class="row" *ngxPermissionsOnly="['BRANCH ALLOCATION_CREATE','BRANCH ALLOCATION_UPDATE']">
                <div class="col-md-12">
                  <div class="title_search_add as_lsa">
                    <mat-label><strong>Assign Branch</strong></mat-label>
                    <div class="mdm_searchbar">
                      <span class="fa fa-search brancSearchIcon" aria-hidden="true"></span>
                      <mat-form-field appearance="outline" (click)="openSearchBranchModal()">
                        <input matInput name="rateCardCode" class="form-control" SpecialCharacterDirective placeholder="Search By Name / Code" maxlength="0">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-label><strong>Allocated Branches</strong></mat-label>
                </div>
              </div>
              <div class="row" *ngxPermissionsOnly="['BRANCH ALLOCATION_READ']">
                <div class="col-md-12">
                  <div class="table-responsive create_new_tale_mdm2">
                    <table aria-describedby="table" mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8" matSortDisableClear>

                      <!-- Position Column -->
                      <ng-container matColumnDef="branchName">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>BRANCH NAME <span class="redMark">*</span></strong></th>
                        <td mat-cell *matCellDef="let element">
                            <div class="row_center row_center_width" matTooltipPosition="above"
                              style="width: 13rem !important; color: #27AE60;" [matTooltip]="element.branchName" [matTooltipDisabled]="element.branchName?.length<10" >{{element.branchName}}</div>
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="branchType">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>BRANCH TYPE</strong></th>
                        <td mat-cell *matCellDef="let element">
                          <div class="row_center row_center_width" matTooltipPosition="above" >{{element?.branchType}}</div>
                        </td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="effectiveDt">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 130px;"> <strong>START DATE </strong><span class="redMark">*</span></th>
                        <td mat-cell *matCellDef="let element ;index as i;">
                          <div class="row_center row_center_width">
                            <div class="">
                              <mat-form-field appearance="outline" class="date_picker_adjust input_table_width" id="datepickerwidth">
                                <mat-datepicker #msa6StartDate1 class="myDatepicker23">
                                </mat-datepicker>
                                <input matInput [matDatepicker]="msa6StartDate1" [disabled]="(element.id && editflow)" [(ngModel)]="element.effectiveDt" #effectiveDt = "ngModel" [ngModelOptions]="{standalone: true}" (ngModelChange)="editInput(element)"
                                  class="date_input_height Sel_StartDt" placeholder="" name="effectiveDt_{{i}}" placeholder="DD/MM/YYYY" 
                                   [max]="element.effectiveDate_max" (blur)="effectiveDate(true,element)" (dateChange)="effectiveDate(true, element)"  required numericSpecialChar/>
                                <mat-datepicker-toggle matPrefix [for]="msa6StartDate1">
                                </mat-datepicker-toggle>
                              </mat-form-field>
                              <div *ngIf="expDtMsk">
                                <div *ngIf="(element.effectiveDt > element.expDt) && !(effectiveDt.errors?.required)" class="errorMsg">
                                  Invalid Start Date!
                                </div>
                              </div>
                              <div *ngIf="(effectiveDt.errors?.required && effectiveDt.touched)" class="errorMsg">
                               Required!
                             </div>
                            </div>
                          </div>
                        </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="expDt">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;"> <strong>END DATE</strong> </th>
                        <td mat-cell *matCellDef="let element;index as i;">
                          <div class="row_center row_center_width" matTooltipPosition="above">
                            <div class="module_area mt_6">
                              <mat-form-field appearance="outline" class="date_picker_adjust input_table_width" id="datepickerwidth"> 
                                <mat-datepicker #msa6StartDate2 class="myDatepicker23">
                                </mat-datepicker>
                                <input matInput [matDatepicker]="msa6StartDate2" [(ngModel)]="element.expDt" #expDt="ngModel" (ngModelChange)="editInput(element)" [ngModelOptions]="{standalone: true}"
                                  class="date_input_height" placeholder="" name="expiryDate_{{i}}" [min]="element.expiryDate_min" 
                                  [max]="element.expiryDate_max" placeholder="DD/MM/YYYY" (dateChange)="expDate(element)" (blur)="expDate(element)" numericSpecialChar/>
                                <mat-datepicker-toggle matPrefix [for]="msa6StartDate2">
                                </mat-datepicker-toggle>
                              </mat-form-field>
                              <div *ngIf="element.isValidExpDt && !(expDt.errors?.required)" class="errorMsg">
                                Invalid End Date!
                              </div>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="delete">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong></strong> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button [disabled]="(element.id && editflow)" (click)="deleteBranchDialog(element)"><span class="material-icons"
                              style="color: #27AE60;">delete</span></button>
                        </td>
                      </ng-container>
                      <!-- Saleforce id -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div>
                    </div>
                  </div>
                </div>
              </div>             
            </mat-expansion-panel>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center mtb_30" *ngxPermissionsOnly="['BRANCH ALLOCATION_CREATE','BRANCH ALLOCATION_UPDATE']">
            <button mat-button class="white-button" [disabled]="!fCreateBranch.form.valid || validateVehicle() || flag"  (click)="validationBranchCheck('save')" style="margin-right: 15px;">Save as Draft</button>
            <button mat-button class="theme-button" [disabled]="!fCreateBranch.form.valid || validateVehicle() || flag"  (click)="validationBranchCheck('next')">Next</button> <br>
          </div>
          <div class="col-md-12 text-center mtb_30" *ngxPermissionsExcept="['BRANCH ALLOCATION_CREATE','BRANCH ALLOCATION_UPDATE']">
            <button mat-button class="theme-button" (click)="nextReadMode()">Next</button> <br>
          </div>
        </div>
      </form>
    </div>
  <!-- </div> -->
</section>

<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>
<!-- msa-4 end -->
