<div class="modal-container associateDeliverContainer" id="userCreateDefault">
    <h4 class="sub_heading"><strong>Select Customer</strong></h4>
    <mat-icon *ngIf="!pcd" class="modals_cancel_btn" aria-hidden="true" id="closeButton" (click)="closeDialog()">close</mat-icon>
    <hr class="border_row">
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 1.0rem; padding: 0; max-width: 70rem;">
                <div class="col-lg-2 col-md-2 col-sm-4 margin-row searchby" style="margin-top: 1.1rem;">
                    Search 
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="margin-row">
                        <div class="col-lg-5 col-md-5 paddingRightZero">
                            <mat-form-field class="select_box_dropwodn overline_hidden branchType">
                                <mat-select disableOptionCentering panelClass="creditSelect" name="search" style="width: 100%;" [(ngModel)]="model.search" (selectionChange)="onChangeSearchCriteria()">
                                    <mat-option value="MSA CODE">MSA CODE</mat-option>
                                    <mat-option value="MSA NAME">MSA NAME</mat-option>
                                    <mat-option [value]="custType == 1 ? 'PRC CODE' : 'SFX CODE'">{{custType == 1 ? 'PRC CODE' : 'SFX CODE'}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-7 col-md-7 paddingLeftZero margin-row" *ngIf="model.search == 'MSA NAME'">
                            <div class="mdm_searchbar marginLeftZero">
                                <input minlength="3" appSearchFieldCheck type="text" (keyup.enter)="SearchByMSAName(model.searchbyname)" class="form-control" required placeholder="Search.." name="searchbyname" #searchbyname="ngModel" [(ngModel)]="model.searchbyname">
                                <span id="defualtBranchSearch1" class="fa fa-search" (click)="SearchByMSAName(model.searchbyname)"></span>
                            </div>
                            <!-- validation -->
                            <div *ngIf="searchbyname.invalid && (searchbyname.dirty || searchbyname.touched)">
                                <div *ngIf="searchbyname.errors.minlength || searchbyname.errors.maxlength" class="error2">Please enter 3 character
                                </div>
                            </div>
                            <!-- validation -->
                        </div>

                        <!--    On Select MSA CODE    -->
                        <div class="col-lg-7 col-md-7 paddingLeftZero margin-row" *ngIf="model.search == 'MSA CODE'">
                            <div class="mdm_searchbar marginLeftZero">
                                <input type="text" appSearchFieldCheck (keyup.enter)="SearchByMSACode(model.searchByCode)" class="form-control" required placeholder="Search.." name="searchByCode" #searchByCode="ngModel" [(ngModel)]="model.searchByCode">
                                <span id="defualtBranchSearch1" class="fa fa-search" (click)="SearchByMSACode(model.searchByCode)"></span>
                            </div>
                            <!-- validation -->
                            <!-- <div *ngIf="searchByCode.invalid && (searchByCode.dirty || searchByCode.touched)">
                  <div *ngIf="searchByCode.errors.minlength || searchByCode.errors.maxlength" class="error2">Please enter
                    3 character
                  </div>
                </div> -->
                            <!-- validation -->
                        </div>

                        <!--    On Select SFX/PRC CODE    -->
                        <div class="col-lg-7 col-md-7 paddingLeftZero margin-row" *ngIf="model.search == 'PRC CODE' || model.search == 'SFX CODE'">
                            <div class="mdm_searchbar marginLeftZero">
                                <input type="text" appSearchFieldCheck (keyup.enter)="SearchBySFXOrPRCCode(model.searchBySFXOrPRC)" class="form-control" required placeholder="Search.." name="searchBySFXOrPRC" #searchBySFXOrPRC="ngModel" [(ngModel)]="model.searchBySFXOrPRC">
                                <span id="defualtBranchSearch1" class="fa fa-search" (click)="SearchBySFXOrPRCCode(model.searchBySFXOrPRC)"></span>
                            </div>
                            <!-- <div *ngIf="searchBySFXOrPRC.invalid && (searchBySFXOrPRC.dirty || searchBySFXOrPRC.touched)">
                  <div *ngIf="searchBySFXOrPRC.errors.minlength || searchBySFXOrPRC.errors.maxlength" class="error2">Please enter
                    3 character
                  </div>
                </div> -->
                        </div>

                        <!-- Customer Name dropdown removed -->
                        <!-- <div *ngIf="model.search == 'MSA NAME' && (custWithNameArray?.length > 0)" class="col-lg-7 col-md-7 paddingLeftZero margin-row">
                            <mat-form-field class="select_box_dropwodn overline_hidden">
                                <mat-select disableOptionCentering panelClass="creditSelect" name="areaId" [(ngModel)]="model.msaID" (selectionChange)="searchByMSAId()">
                                    <mat-option *ngFor="let customer of custWithNameArray" [value]=customer?.id>
                                        {{ customer?.custName }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="max-width: 70rem;">
            <div class="col-lg-2 col-md-2 margin-row"></div>
            <div class="col-lg-10 col-md-10" style="padding-left: 2.7rem !important;">
            <div class="module_area">
                <mat-radio-group name="custType" (change)="custTypeChange()" [(ngModel)]="custType">
                    <mat-radio-button [value]="0">CREDIT</mat-radio-button>
                    <mat-radio-button [value]="1">PRC</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<div class="row" *ngIf="customerData?.length > 0">
    <div class="col-md-12">
        <div class="table-responsive create_new_tale_mdm2">

            <table aria-describedby="table" mat-table [dataSource]="dataSourceCustomers" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="check" *ngIf="!isPCD">
                    <th scope="col" mat-header-cell *matHeaderCellDef style="max-width:7rem;">
                        <mat-checkbox [(ngModel)]="checkAll" (change)="checkedAll($event)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" style="max-width:7rem;">
                        <div class="row_center row_center_width" >
                            <mat-checkbox (change)="addCustomer($event.checked,element)" [(ngModel)]="element.checked"></mat-checkbox>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="check" *ngIf="isPCD"> <!--PCD Scenario-->
                    <th scope="col" mat-header-cell *matHeaderCellDef style="max-width:7rem;;"></th>
                    <td mat-cell *matCellDef="let element; let i = index" style="max-width:7rem;;">
                        <mat-radio-group (change)="addCustomerPCD(element)" [(ngModel)]="radioModel">
                            <mat-radio-button [value] = "i"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>CUSTOMER NAME</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" matTooltipPosition="above" [matTooltip]="element.customerName | uppercase" [matTooltipDisabled]="element.customerName?.length<10">
                            {{element?.customerName}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="contractCode">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10rem;"> <strong>{{custType ? "PRC" : "SFX"}} CODE</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" style="width: 10rem;">{{element?.contractCode}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Abranch">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>ASSIGNED BRANCH</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" matTooltipPosition="above" [matTooltip]="element.branchNames" [matTooltipDisabled]="element.branchNames?.length<10">
                            {{element.branchNames}}</div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>

<!-- ----------- Display Customr List ----------------->
<div class="row" *ngIf="model.search == 'MSA NAME' && (custWithNameArray?.length > 0)">
    <div class="col-md-9 col-sm-12" style="margin-bottom: -1rem;">
      <div class="search_bar_mdm2d searchbar_mdm2">
        <span class="fa fa-search brancSearchIcon" aria-hidden="true"></span>
        <mat-form-field appearance="outline">
          <input appSearchFieldCheck matInput name="searchCustName" (keyup)="applyFilter($event)" class="form-control"
            placeholder="Search Customer" minlength="3">
        </mat-form-field>
        <div class="error2">
          <label *ngIf="minchar" class="validation-message">Please Enter 3 Character</label>
          <label *ngIf="nomatch" class="validation-message">No Match Found</label>
        </div>
      </div>
    </div>
  </div>
<div class="row" *ngIf="model.search == 'MSA NAME' && (custWithNameArray?.length > 0)">
    <div class="col-md-12 ">
        <div class="table-responsive create_new_tale_mdm2">

            <table aria-describedby="custTable" mat-table [dataSource]="datasourceCustomerNames" matSort class="mat-elevation-z8">


                <ng-container matColumnDef="custName">
                    <th scope="col" mat-header-cell *matHeaderCellDef><strong>CUSTOMER NAME</strong></th>
                    <td mat-cell *matCellDef="let element" (click)="searchByMSAId(element?.id)" style="cursor: pointer;">
                        <div class="row_center row_center_width" style="color: #53af61;">
                            {{element?.custName}}
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsForCustTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsForCustTable;"></tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center mtb_30">
        <button mat-button class="theme-button" [disabled] = "isPCD ? isChckedCust ? false : true : false" (click)="addCustomers()">Add</button>
    </div>
</div>

<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>