.booking_bread_crumb span {
  font-size: 12px;
  font-weight: 400;
}

.booking_bread_crumb .fa.fa-caret-right {
  margin-left: 5px;
  margin-right: 3px;
}

.title-booking {
  line-height: 1.2;
  padding-right: 15px !important;
  color: #000 !important;
  margin-top: 20px;
}

.bcb-booking-log{
  color:#000;
  text-decoration: none;
}

.page-title-booking{
  font-size: 12px; font-weight: normal;
}

.category-title-booking{
  color: #000; font-size: 12px; font-weight: normal;
}

::ng-deep .apilog-dilog .mat-dialog-container {
  padding: 0px !important;
}

::ng-deep .search-filter-filed .mat-form-field-flex{
    padding-bottom: 5px;
}

::ng-deep .associateBookingContainer #asso-booking-log-search .mat-input-element {
  padding: 20px 0 !important;
}

::ng-deep .associateBookingContainer #asso-booking-log-days  .mat-select-value-text{
  margin-top: 5px !important;
}

::ng-deep .associateBookingContainer #asso-booking-log-days .mat-select-arrow {
  margin-top: 12px !important
}

::ng-deep .associateBookingContainer #asso-booking-log-retries  .mat-select-value-text{
  margin-top: 5px !important;
}

::ng-deep .associateBookingContainer #asso-booking-log-retries .mat-select-arrow {
  margin-top: 12px !important
}