<!-- breadcrumb start -->
<section class="booking_breadcrumb_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div>
          <mat-toolbar class="breadcrumbs_nav">
            <mat-toolbar-row class="breadcrumbs">
              <span><a skipLocationChange routerLink="/asso_cargo-contract/asso_cargo">Dashboard</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span><a skipLocationChange routerLink="/asso_cargo-contract/asso_cargo">Contracts</a></span>
              <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                arrow_right
              </mat-icon>
              <span>Associate Contract</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <h2>Cargo Contract</h2>
        </div>
      </div>
      <div class="col-md-7 mt_40 mob_hide progress_bar_booking">
        <stepper></stepper>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<!-- msa-10 start -->
<section class="req_table_sec booking_msa_sec">
  <div class="container-fluid">
    <form [formGroup]="deductionForm">
      <div class="booking_card padding_0">
        <!--  Display Header -->
        <app-header-data></app-header-data>
        <div class="padding_10 mob_sla_1">
          <div class="row">
            <div class="col-md-3">
              <div class="label_and_add">
                <mat-label><strong>
                    <h4 style="font-weight: bold;">SLA Calculation</h4>
                  </strong></mat-label>
                <mat-icon class="add_icon" style="margin: 13px 8px !important;" *ngxPermissionsOnly="['SLA DEDUCTION_CREATE','SLA DEDUCTION_UPDATE']"
                 (click)="openSlaModal()">add</mat-icon>
              </div>
            </div>
          </div>

          <div class="row mb_15" *ngxPermissionsOnly="['SLA DEDUCTION_READ']">
            <div class="col-md-10">
              <div class="table-responsive create_new_tale_mdm2" *ngIf="SlaDeductionArray?.length > 0">

                <table aria-describedby="table" mat-table [dataSource]="SlaDatasource" class="mat-elevation-z8">

                  <ng-container matColumnDef="vehicleModelName">
                    <th scope="col" mat-header-cell *matHeaderCellDef> <strong>VEHICLE TYPE</strong></th>
                    <td mat-cell *matCellDef="let element">
                      <a>
                        <div class="row_center row_center_width" matTooltipPosition="above"
                          style="width: 13rem !important;">{{getVehicleTypeName(element.lkpVehicleTypeId)}}</div>
                      </a>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="loadingTime">
                    <th scope="col" mat-header-cell *matHeaderCellDef> <strong>
                        LOADING TIME</strong></th>
                    <td mat-cell *matCellDef="let element">
                      <div class="row_center row_center_width" matTooltipPosition="above">{{element.loadingTime}} MINS</div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="unloadingTime">
                    <th scope="col" mat-header-cell *matHeaderCellDef> <strong>UNLOADING TIME</strong> </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="row_center row_center_width" matTooltipPosition="above">
                        {{element.unloadingTime}} MINS</div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="icon">
                    <th scope="col" mat-header-cell *matHeaderCellDef> <strong></strong> </th>
                    <td mat-cell *matCellDef="let element;index as i;">
                      <div class="mat-cell">
                        <button mat-button *ngxPermissionsOnly="['SLA DEDUCTION_CREATE','SLA DEDUCTION_UPDATE']"
                          (click)="removeSladeduction(i)"><span class="material-icons"
                            style="color: #27AE60; cursor: pointer;">delete</span></button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div>
            <h4><strong>Deduction Calculation</strong></h4>
          </div>
          <br>
          <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('MISHANDLING CHARGES'))">
            <div class="col-md-2">
              <mat-label><strong>Mishandling Charges<span class="redMark">*</span></strong></mat-label>
            </div>
            <div class="col-md-9">
              <div class="module_area">
                <mat-radio-group   name="mishandlingFlag" formControlName="mishandlingFlag" required>
                  <mat-radio-button class="Sel_mishandling_flag_yes" [value]="1" style="padding-right: 30px;"
                    (change)="onChangeMishandlingFlag($event.value)">Yes
                  </mat-radio-button>
                  <mat-radio-button [value]="0" (change)="onChangeMishandlingFlag($event.value)">No</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="(f.mishandlingFlag.errors?.required && f.mishandlingFlag.touched)" class="errorMsg">
                  Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row"
            *ngIf="f.mishandlingFlag.value == 1 && !(exAttrKeyList && exAttrKeyList.includes('MISHANDLING REMARKS'))">
            <div class="col-md-2">
              <mat-label><strong>Remarks</strong><span class="redMark"> *</span></mat-label>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <input matInput name="mishandlingRemark" formControlName="mishandlingRemark" class="form-control"
                  maxlength="250" placeholder="" required>
              </mat-form-field>
              <div *ngIf="(f.mishandlingRemark.errors?.required && f.mishandlingRemark.touched)" class="errorMsg">
                Required!
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('SCHEDULE LATE PENALTY'))">
            <div class="col-md-2">
              <mat-label><strong>Schedule Late Penalty<span class="redMark">*</span></strong></mat-label>
            </div>
            <div class="col-md-9">
              <div class="module_area">
                <mat-radio-group name="schLatePnltyFlag" formControlName="schLatePnltyFlag" required>
                  <mat-radio-button class="Sel_latepnlty_flag_No" [value]="1" style="padding-right: 30px;"
                    (change)="onChangeLatePenaltyFlag($event.value)">Yes
                  </mat-radio-button>
                  <mat-radio-button [value]="0" (change)="onChangeLatePenaltyFlag($event.value)">No</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="(f.schLatePnltyFlag.errors?.required && f.schLatePnltyFlag.touched)" class="errorMsg">
                  Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row"
            *ngIf="f.schLatePnltyFlag.value == 1 && !(exAttrKeyList && exAttrKeyList.includes('SCHEDULE LATE REMARKS'))">
            <div class="col-md-2">
              <mat-label><strong>Remarks</strong><span class="redMark"> *</span></mat-label>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <input matInput name="schLatePnltyRemark" formControlName="schLatePnltyRemark" class="form-control"
                  maxlength="250" placeholder="" required>
              </mat-form-field>
              <div *ngIf="(f.schLatePnltyRemark.errors?.required && f.schLatePnltyRemark.touched)" class="errorMsg">
                Required!
              </div>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('ADVANCE AMOUNT APPLICABLE'))">
            <div class="col-md-3">
              <mat-label><strong>Advance Amount Applicable<span class="redMark">*</span></strong></mat-label>
            </div>
            <div class="col-md-9">
              <div class="module_area">
                <mat-radio-group name="advncDedctnAmtFlag" formControlName="advncDedctnAmtFlag">
                  <mat-radio-button class="Sel_advanceDedDlag_No" [value]="1" style="padding-right: 30px;" (change)="isAdvanceAmount($event.value)">
                    Yes
                  </mat-radio-button>
                  <mat-radio-button [value]="0" (change)="isAdvanceAmount($event.value)">No</mat-radio-button>
                </mat-radio-group>
                <div class="errorMsg" *ngIf="f.advncDedctnAmtFlag.errors?.required && f.advncDedctnAmtFlag.touched">
                  <em>Required !</em>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('ADVANCE AMOUNT TO BE DEDUCTED'))">
            <div class="row" *ngIf="f.advncDedctnAmtFlag.value == 1">
              <div class="col-md-3">
                <mat-label><strong>Advance Amount to be deducted every cycle<span class="redMark">*</span></strong>
                </mat-label>
              </div>
              <div class="col-md-2">
                <mat-form-field appearance="outline">
                  <input matInput name="advncDedctnAmt" class="form-control" placeholder=""
                    formControlName="advncDedctnAmt" maxlength="8" OnlyNumber="true" numeric appBlockCopyPaste>
                </mat-form-field>
                <div class="errorMsg" *ngIf="f.advncDedctnAmt.errors?.required && f.advncDedctnAmt.touched"><em>Required
                    !</em>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="f.advncDedctnAmtFlag.value == 1">
            <div>
              <div class="col-md-2">
                <mat-label *ngIf="!(exAttrKeyList && exAttrKeyList.includes('START DATE'))"><strong>Start Date<span
                      class="redMark">*</span></strong></mat-label>
              </div>
              <div class="col-md-2">
                <div class="module_area" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('START DATE'))">
                  <mat-form-field appearance="outline" class="date_picker_adjust">
                    <mat-datepicker #msa10Date1 class="myDatepicker23">
                    </mat-datepicker>
                    <input matInput [matDatepicker]="msa10Date1" class="date_input_height" placeholder=""
                      name="advncDedctnAmtFromDt" placeholder="DD/MM/YYYY" formControlName="advncDedctnAmtFromDt"
                      [min]="minDate" (dateChange)="effectiveDate()" (blur)="effectiveDate()" numericSpecialChar />
                    <mat-datepicker-toggle matPrefix [for]="msa10Date1">
                    </mat-datepicker-toggle>
                  </mat-form-field>
                  <div class="errorMsg"
                    *ngIf="f.advncDedctnAmtFromDt.errors?.required && f.advncDedctnAmtFromDt.touched">
                    <em>Required !</em>
                  </div>
                  <div *ngIf="isValidStartDt && !(f.advncDedctnAmtFromDt.errors?.required)" class="errorMsg">
                    <em>Invalid Start Date!</em>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!(exAttrKeyList && exAttrKeyList.includes('END DATE'))">
              <div class="col-md-1 col-md-offset-1 mo_ml_0">
                <mat-label><strong>End Date</strong></mat-label>
              </div>
              <div class="col-md-2">
                <div class="module_area">
                  <mat-form-field appearance="outline" class="date_picker_adjust">
                    <mat-datepicker #msa10Date2 class="myDatepicker23">
                    </mat-datepicker>
                    <input matInput [matDatepicker]="msa10Date2" class="date_input_height" name="advncDedctnAmtToDt"
                      placeholder="DD/MM/YYYY" formControlName="advncDedctnAmtToDt" [min]="maxdate"
                      (dateChange)="expDate()" (blur)="expDate()" numericSpecialChar />
                    <mat-datepicker-toggle matPrefix [for]="msa10Date2">
                    </mat-datepicker-toggle>
                  </mat-form-field>
                  <div *ngIf="isValidEndDt" class="errorMsg">
                    Invalid Expiry Date!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" *ngxPermissionsOnly="['DEDUCTION_CREATE','DEDUCTION_UPDATE']">
            <div class="col-md-12 text-center mtb_30">
              <button mat-button class="white-button" (click)="onSaveDeduction(1)">Save As
                Draft</button>
              <button mat-button class="theme-button ml_15" (click)="onSaveDeduction(0)">Next</button>
            </div>
          </div>
          <div class="row" *ngxPermissionsExcept="['DEDUCTION_CREATE','DEDUCTION_UPDATE']">
            <div class="col-md-12 text-center mtb_30">
              <button mat-button class="theme-button ml_15" (click)="nextReadMode()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
</ngx-spinner>