.mat-cell {
    font-size: 1.6rem !important;
}
.preview_sec_3 h3 {
    margin-left: 2rem;
    margin-top: 1.5rem;
}
.customer_preview {
    padding: 1rem;
    background-color: #53af61;
    color: #06161f;
}
.preview_sec_2 h3{
    color: white;
}
.mgsg_print_sec {
    padding: 15px 60px 15px 30px !important;
}

.backButton{
    position: absolute;
    right: -30px;
    top: 0px;
    cursor: pointer;
}
.ml_mins{
    margin-left: 1rem;
}