<!-- breadcrumb start -->
<section class="booking_breadcrumb_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div>
            <mat-toolbar class="breadcrumbs_nav">
              <mat-toolbar-row class="breadcrumbs">
                <span><a [routerLink]="['/asso_network-contract/asso_network']">Dashboard</a></span>
                <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                  arrow_right
                </mat-icon>
                <span><a>Contracts</a></span>
                <mat-icon class="example-icon breadcrumbs_icon" aria-hidden="false" aria-label="Example heart icon">
                  arrow_right
                </mat-icon>
                <span>Associate Contract</span>
              </mat-toolbar-row>
            </mat-toolbar>
            <h2>Network Contract</h2>
          </div>
        </div>
        <div class="col-md-7 mt_40 mob_hide progress_bar_booking">
          <stepper></stepper>
        </div>
      </div>
    </div>
  </section>

  
  <!-- msa-4 start -->
  <section class="req_table_sec booking_msa_sec branch_location_sec">
    <div class="container">
      <div class="booking_card padding_0">
        <app-header-data></app-header-data>
        <div class="row plr_15">
          <div class="col-md-12">
          <mat-expansion-panel class="box_shadow_none" [expanded]="true">
            <mat-expansion-panel-header class="collapse_panel_header">
                Route Allocation
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <div class="title_search_add as_lsa">
                  <mat-label><strong>Assign Route</strong></mat-label>

                  <div class="col-lg-9 col-md-9">
                    <div class="margin-row">
                        <div class="col-lg-2 col-md-2 paddingRightZero" >
                            <mat-form-field class="select_box_dropwodn overline_hidden branchType " style="height: 2.7rem !important;  color: #fff !important;">
                                <mat-select name="search" style="width: 100%;color: #fff !important;" [(ngModel)]="model.search" >
                                    <mat-option *ngFor="let list of advanceSearchList" [value]=list.value>{{list.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
                        <div *ngIf="model.search == 'ROUTE CODE'" class="col-lg-4 col-md-4 paddingLeftZero">
                          <div class="mdm_searchbar marginLeftZero pTop">
                              <input minlength="3" appSearchFieldCheck  style="width: 27rem !important;" type="text" (keyup.enter)="advanceDefaultBranchName(model.searchbyroutecode)" class="form-control"  placeholder="Route Code" name="searchbyroutecode" #searchbyroutecode="ngModel" [(ngModel)]="model.searchbyroutecode">
                              <span id="defualtBranchSearchRout" style="top: 1rem !important;" class="fa fa-search" ></span>
                          </div>
                          <!-- validation -->
                          <div *ngIf="searchbyroutecode.invalid && (searchbyroutecode.dirty || searchbyroutecode.touched)">
                              <div *ngIf="searchbyroutecode.errors.minlength || searchbyname.errors.maxlength" class="error2">Please enter 3 character
                              </div>
                          </div>
                          <!-- validation -->
                        </div>

                        <div *ngIf="model.search == 'LOCATION'" class="col-lg-10 col-md-10 paddingLeftZero">
                            <div class=" col-md-4 mdm_searchbar paddingLeftZero marginLeftZero pTop route_srch" >
                              <em class="fa fa-search"></em>
                                <ng-select 
                                [items]="tableDataSourcSearch" style="width: 27rem !important;height: 2.7rem !important;" id="baseLocation"
                                class="form-control"
                                bindLabel="sourceBranchName"
                                class="creditNgDropdown"
                                bindValue="sourcecnBranchId"
                                appendTo="body"
                                (search) ='defaultSearchBySourceBranch($event)'
                                (click)="onClear()"
                                (clear)="emptyData()"
                                name="Source Branch" 
                                required
                                #searchbysourcebranch="ngModel" 
                                [(ngModel)]="model.searchbysourcebranch"
                                >
                            </ng-select>
                            </div>
                            <div class="col-md-1"> <span style="font-weight: bold;">To</span></div>
                            <div class=" col-md-4 mdm_searchbar paddingLeftZero marginLeftZero pTop route_srch" >  
                              <em class="fa fa-search"></em> 

                            <ng-select 
                            [items]="tableDataDestinationSearch" style="width: 27rem !important;height: 2.7rem !important;" 
                            class="form-control"
                            bindLabel="destinationBranchName"
                            class="creditNgDropdown"
                            bindValue="destinationBranchId"
                            appendTo="body"
                            (search) ='defaultSearchByDestinationBranch($event)'
                            (click)="onClear()"
                            (clear)="emptyData()"
                            required
                            name="Destination Branch" 
                            #searchbydestinationbranch="ngModel" 
                            [(ngModel)]="model.searchbydestinationbranch"


                            >
                        </ng-select>
                             
                             
                          </div>
                            <div class="col-md-2">  <button mat-button class="theme-button" [disabled] ="!model.searchbysourcebranch && !model.searchbydestinationbranch" (click)="searchSourceDestion()" >Search</button></div>
                        </div>
                     </div>
                   </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-label><strong></strong></mat-label>
              </div>
            </div>
            <div class="row" *ngIf="dataSource.length>0">
              <div class="col-md-12" *ngxPermissionsOnly="['ROUTE ALLOCATION_READ']">
                <div class="table-responsive create_new_tale_mdm2">

                  <table aria-describedby="routeTable" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="Bcheck">

                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                      <td mat-cell *matCellDef="let element">
                        <a>
                          <div class="row_center row_center_width">
                            <mat-radio-group [(ngModel)]="element.checked">  
                               <mat-radio-button class="example-radio-button" [value]="true" (click)="radiobuttonClick(element)" > </mat-radio-button>
                            </mat-radio-group>                         

                          </div>
                        </a>
                      </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="Rcode">

                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>ROUTE CODE</strong><span class="redMark">*</span></th>
                      <td mat-cell *matCellDef="let element" style="width: 40rem;">
                        <a>
                          <div class="row_center row_center_width"  [matTooltip]="element.routeCode" matTooltipPosition="above"
                            style="width: 40rem !important;">{{element.routeCode}}</div>
                        </a>
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Sbranch">
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>SOURCE BRANCH</strong></th>
                      <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" matTooltipPosition="above">{{ defaultSourceNDestinationBranch(element?.sourceBranchId)}}</div>
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Dbranch">
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>DESTINATION BRANCH</strong></th>
                      <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" matTooltipPosition="above">{{defaultSourceNDestinationBranch(element?.destinationBranchId)}}</div>
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Tpoint">
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>TOUCHING POINT</strong> </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" matTooltipPosition="above">{{element?.touchPointFlag == 1 ? 'YES' : 'NO' }}</div>
                      </td>
                    </ng-container>
                    <!-- Saleforce id -->
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="mode">
                        <th scope="col" scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>MODE</strong> </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="row_center row_center_width" matTooltipPosition="above">{{defaultMode(element?.routeModeId)}}</div>
                        </td>
                      </ng-container>
                      <!-- Saleforce id -->
                    <ng-container matColumnDef="Avehicle">
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>ASSIGN VEHICLE</strong><span class="redMark">*</span> </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="row_center row_center_width" *ngIf="element.checked" matTooltipPosition="above"><img
                          alt="image"  src="../assets/images/pickup.png" (click)="openAssignVehicleModal(element)"></div>
                      </td>
                    </ng-container>
                    <!-- msaCustAddrs id -->
                    <ng-container matColumnDef="delete">
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> <strong></strong> </th>
                      <td mat-cell *matCellDef="let element">

                      </td>
                    </ng-container>
                    <!-- Saleforce id -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center mtb_30" *ngxPermissionsOnly="['ROUTE ALLOCATION_READ', 'ROUTE SCHEDULE CREATION_READ']">
            <button mat-button class="white-button" [disabled]="dataSource.length == 0 || !isVehicleRequestCompleted" (click)="validationBranchCheck('save')" style="margin-right: 15px;">Save as Draft</button>
            <button mat-button class="theme-button"  [disabled]="dataSource.length == 0 || !isVehicleRequestCompleted" (click)="validationBranchCheck('next')">Next</button>
          </div>
          <div class="col-md-12 text-center mtb_30" *ngxPermissionsExcept="['ROUTE ALLOCATION_READ', 'ROUTE SCHEDULE CREATION_READ']">
            <button mat-button class="theme-button"  (click)="nextReadMode()">Next</button> <br>
          </div>
        </div>
        <!--   -->
      </div>
    </div>
  </section>
  
  <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">
  </ngx-spinner>
  <!-- msa-4 end -->