.row_center_width{
 width:80%
}
mat-radio-button {
    width:13px;
    height: 13px;
    border-width: 0.2rem;
    padding-right: 40px
}
.associateContainer .mat-select-value {
    padding-top: 0rem! important;
}
.delete_icon {
    position: absolute;
    top: 10px;
    right: 25px;
}
.delete_icon .material-icons {
    font-size: 20px;
}
.mat-input-element {
    height: 2.7rem;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif !important;
}