
 <div id="stepper" fxLayout="row" fxLayoutAlign="end center">  
  <div class="line stepperLine"></div>
  <mat-horizontal-stepper  labelPosition="bottom">      
    <mat-step> 
        <ng-template matStepLabel matStepperIcon="edit" > 
          <p name='assign-associate' [ngClass]="currentState === 'assign-associate' ? 'stepActive' : 'stepInActive' " (click)="onSelectLable('contract')">Contract</p>    
          <div class="round" *ngIf='(currentState === "assign-associate")'  [ngStyle]="{'background-color':currentState === 'assign-associate' ? '#2E8B57' : '#ccc' } " name='assign-associate1' routerLink="/asso_network-contract/assign-associate"  skipLocationChange  (click)="OnNextClick()"></div>
          <div class="round" *ngIf='(step1 === "assign-associateEdit")' [ngClass]="step1 === 'assign-associateEdit' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step1 === 'assign-associateEdit' ? '#81C784' : '#ccc' }" name='assign-associate2' (click)="OnNextClick('/assign-associate;edit')"></div>
          <div class="round" *ngIf='(step1 === "assign-associate")' [ngClass]="step1 === 'assign-associate' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step1 === 'assign-associate' ? '#81C784' : '#ccc' }" name='assign-associate3' routerLink="/asso_network-contract/assign-associate"  skipLocationChange (click)="OnNextClick()"></div>
          <div class="round" *ngIf='(step1 != "assign-associate" && step1 !="assign-associateEdit" && currentState != "assign-associate")' name='assign-associate4'></div>
        </ng-template>
    </mat-step>         
    <mat-step >  
        <ng-template matStepLabel >
          <p name='route-allocation' [ngClass]="currentState === 'route-allocation' ? 'stepActive' : 'stepInActive' " (click)="onSelectLable('route')">Allocation</p>  
          <div class="round" *ngIf='(currentState === "route-allocation")' [ngStyle]="{'background-color':currentState === 'route-allocation' ? '#2E8B57' : '#ccc' }" name='route-allocation'></div>
          <div class="round" *ngIf='(step2 === "routeEdit")' [ngClass]="step2 === 'routeEdit' ? 'fa fa-check' : ' '" [ngStyle]="{'background-color':step2 === 'routeEdit' ? '#81C784' : '#ccc' }" name='route-allocation' (click)="OnNextClick('/route-allocation;edit')"></div>
          <div class="round" *ngIf='(step2 === "route-allocation")' [ngClass]="step2 === 'route-allocation' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step2 === 'route-allocation' ? '#81C784' : '#ccc' }" name='route-allocation' routerLink="/asso_network-contract/route-allocation"  skipLocationChange (click)="OnNextClick()"></div>
          <div class="round" *ngIf='(step2 != "route-allocation" && step2 !="routeEdit" && currentState != "route-allocation")' name='route-allocation'></div>
        </ng-template>
    </mat-step>    
    <mat-step >  
      <ng-template matStepLabel >
        <p name='commercial' [ngClass]="currentState === 'commercial' ? 'stepActive' : 'stepInActive' " (click)="onSelectLable('commercial')">Commercial</p>  
        <div class="round" *ngIf='(currentState === "commercial")' [ngStyle]="{'background-color':currentState === 'commercial' ? '#2E8B57' : '#ccc' }" name='commercial'></div>
        <div class="round" *ngIf='(step3 === "commercialEdit")' [ngClass]="step3 === 'commercialEdit' ? 'fa fa-check' : ' '" [ngStyle]="{'background-color':step3 === 'commercialEdit' ? '#81C784' : '#ccc' }" name='commercial22' (click)="OnNextClick('/commercial;edit')"></div>
        <div class="round" *ngIf='(step3 === "commercial")' [ngClass]="step3 === 'commercial' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step3 === 'commercial' ? '#81C784' : '#ccc' }" name='commercial12' routerLink="/asso_network-contract/commercial"  skipLocationChange (click)="OnNextClick()"></div>
        <div class="round" *ngIf='(step3 != "commercial"  && step3 != "commercialEdit" && currentState != "commercial")' name='commercial' ></div>
      </ng-template>
  </mat-step>      
    <mat-step [stepControl]=""  >
    <ng-template matStepLabel>
      <p  name='payment-terms' [ngClass]="currentState === 'payment-terms' ? 'stepActive' : 'stepInActive' " (click)="onSelectLable('payment')">Payment&nbsp;Terms</p>   
      <div class="round" *ngIf='(currentState === "payment-terms")'  [ngStyle]="{'background-color':currentState === 'payment-terms' ? '#2E8B57' : '#ccc' }" name='payment-terms1' routerLink="/asso_network-contract/payment-terms" skipLocationChange></div>
      <div class="round" *ngIf='(step4 === "paymentEdit")' [ngClass]="step4 === 'paymentEdit' ? 'fa fa-check' : ' '" [ngStyle]="{'background-color':step4 === 'paymentEdit' ? '#81C784' : '#ccc' }" name='payment22' (click)="OnNextClick('/payment-terms;edit')"></div>
      <div class="round" *ngIf='(step4 === "payment-terms")' [ngClass]="step4 === 'payment-terms' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step4 === 'payment-terms' ? '#81C784' : '#ccc' }" name='payment-terms3' routerLink="/asso_network-contract/payment-terms"  skipLocationChange (click)="OnNextClick()"></div>
      <div class="round" *ngIf='(step4 != "payment-terms" && step4 != "paymentEdit" && currentState != "payment-terms")' name='payment-terms4' ></div>
    </ng-template>
      </mat-step>
    <mat-step [stepControl]=""  >
    <ng-template matStepLabel>
      <p name='booking-sla' [ngClass]="currentState === 'booking-sla' ? 'stepActive' : 'stepInActive' " (click)="onSelectLable('deduction')">Deductions</p> 
      <div class="round" *ngIf='(currentState === "booking-sla")' [ngStyle]="{'background-color':currentState === 'booking-sla' ? '#2E8B57' : '#ccc' }" name='booking-sla1' routerLink="/asso_network-contract/booking-sla" skipLocationChange></div>
      <div class="round" *ngIf='(step5 === "deductionEdit")' [ngClass]="step5 === 'deductionEdit' ? 'fa fa-check' : ' '" [ngStyle]="{'background-color':step5 === 'deductionEdit' ? '#81C784' : '#ccc' }" name='deduction22' (click)="OnNextClick('/booking-sla;edit')"></div>
      <div class="round" *ngIf='(step5 === "booking-sla")' [ngClass]="step5 === 'booking-sla' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step5 === 'booking-sla' ? '#81C784' : '#ccc' }" name='booking-sla3' routerLink="/asso_network-contract/booking-sla" skipLocationChange (click)="OnNextClick()"></div>
      <div class="round" *ngIf='(step5 != "booking-sla" && step5 !="deductionEdit" && currentState != "booking-sla")' name='booking-sla4'></div>
    </ng-template>
      </mat-step>
    <mat-step [stepControl]="">
      <ng-template matStepLabel>
        <p  name='booking-document' [ngClass]="currentState === 'booking-document' ? 'stepActive' : 'stepInActive' " (click)="onSelectLable('document')">Document&nbsp;Upload</p> 
        <div class="round" *ngIf='(currentState === "booking-document")' [ngStyle]="{'background-color':currentState === 'booking-document' ? '#2E8B57' : '#ccc' }" name='booking-document1' routerLink="/asso_network-contract/booking-document" skipLocationChange></div>
        <div class="round" *ngIf='(step6 === "documentuploadEdit")' [ngClass]="step6 === 'documentuploadEdit' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step6 === 'documentuploadEdit' ? '#81C784' : '#ccc' }" name='booking-document2' (click)="OnNextClick('/booking-document;edit')"></div>
        <div class="round" *ngIf='(step6 === "booking-document")' [ngClass]="step6 === 'booking-document' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step6 === 'booking-document' ? '#81C784' : '#ccc' }" name='booking-document3' routerLink="/asso_network-contract/booking-document" skipLocationChange (click)="OnNextClick()"></div>
        <div class="round" *ngIf='(step6 != "booking-document" && step5 !="documentuploadEdit" && currentState != "booking-document")' name='booking-document4'></div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="">
      <ng-template matStepLabel>
        <p  name='preview' [ngClass]="currentState === 'preview' ? 'stepActive' : 'stepInActive' ">Success</p> 
        <div class="round" *ngIf='(currentState === "preview")' [ngStyle]="{'background-color':currentState === 'preview' ? '#2E8B57' : '#ccc' }" name='preview'></div>
        <div class="round" *ngIf='(step7 === "previewEdit")' [ngClass]="step7 === 'previewEdit' ? 'fa fa-check' : ' '"   [ngStyle]="{'background-color':step7 === 'previewEdit' ? '#81C784' : '#ccc' }" name='preview' (click)="OnNextClick('/preview;edit')"></div>
        <div class="round" *ngIf='(step7 === "preview")' [ngClass]="step7 === 'preview' ? 'fa fa-check' : ' '"  [ngStyle]="{'background-color':step7 === 'preview' ? '#81C784' : '#ccc' }" name='preview' routerLink="/asso_network-contract/preview"  skipLocationChange (click)="OnNextClick()"></div>
        <div class="round" *ngIf='(step7 != "preview" && step7 !="previewEdit" && currentState != "preview")' name='preview'></div>
      </ng-template>
    </mat-step>
</mat-horizontal-stepper>
</div>