
<form name="AssoPaygen" (ngSubmit)="fAssoPaygen.form.valid" #fAssoPaygen="ngForm" novalidate  class="rateCardDetail">
  <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('PAYOUT BASED ON'))">
    <div class="col-md-2">
      <mat-label><strong>Payout Based On</strong><span class="redMark"> *</span></mat-label>
    </div>
    <div class="col-md-2">
      <div class="module_area">
        <mat-form-field class="select_box_dropwodn overline_hidden allc" hideRequiredMarker>
          <mat-label>Select</mat-label>
          <mat-select class="Sel_payout" name="assPaType_{{indexValue}}" #assPaType="ngModel" 
            (selectionChange)="payoutChange(payoutGenDetail, $event)" [disabled]="payoutGenDetail.id && editflow"
            [(ngModel)]="payoutGenDetail.lkpCargoPayoutOptId"  (ngModelChange)="editInput(payoutGenDetail)" required>
            <mat-option *ngFor="let assoPayType of payoutGenRefDetail?.assocPayoutTypeList | sortBy:'asc':'descr'" [value]="assoPayType.id">
              {{assoPayType.descr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="(assPaType.errors?.required && assPaType.touched)" class="errorMsg">
          Required!
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('WEIGHT TYPE'))">
    <div class="col-md-2">
      <mat-label><strong>Weight Type </strong> <span class="redMark"> *</span></mat-label>
    </div>
    <div class="col-md-2">
      <div class="module_area">
        <mat-form-field class="select_box_dropwodn overline_hidden allc" hideRequiredMarker>
          <mat-label>Select</mat-label>
          <mat-select class="Sel_WtType" disableOptionCentering (selectionChange)="expenseChange(payoutGenDetail)" name="lkpAssocWtType_{{indexValue}}" #lkpAssocWtType="ngModel"  (ngModelChange)="editInput(payoutGenDetail)"
            [(ngModel)]="payoutGenDetail.wtType" required>
            <!-- <ngx-mat-select-search [(ngModel)]="searchExpType" [ngModelOptions]="{standalone: true}" [placeholderLabel]="'Search...'"
              [noEntriesFoundLabel]="'Not found'" name="search"> -->
              <mat-icon class="mat-select-search-custom-header-content mat_ngx_select_search_booking">search</mat-icon>
            <!-- </ngx-mat-select-search> -->
            <mat-option *ngFor="let assoWtType of (payoutGenRefDetail?.assocWeightType | stringFilterBooking:searchExpType:'descr') | sortBy:'asc':'descr'" [value]="assoWtType.descr"
            matTooltipPosition="above" [matTooltip]="assoWtType.descr | uppercase" [matTooltipDisabled]="assoWtType.descr?.length<24">
              {{assoWtType.descr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="(lkpAssocWtType.errors?.required && lkpAssocWtType.touched)" class="errorMsg">
          Required!
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt_10" *ngIf="!(exAttrKeyList && exAttrKeyList.includes('RATE'))">
    <div class="col-md-12">
      <div class=" create_new_tale_mdm2" *ngIf="returnPayoutBasedOn(payoutGenDetail.lkpCargoPayoutOptId) == 'RATE PER TON'">
        <div class="row">
        <div class="col-md-2">
          <mat-label><strong>Rate Per Ton</strong> <span class="redMark"> *</span></mat-label>  
        </div>
        <div class="col-md-3">
          <div class="col-md-7" style="margin-left: -10px;">
          <mat-form-field appearance="outline">
            <input matInput numeric maxlength="11"
               OnlyNumber="true" (keyup)="compareMin(payoutGenDetail)" appNumberOnly name ="price" #price="ngModel" [(ngModel)]="payoutGenDetail.price" (ngModelChange)="editInput(payoutGenDetail)" class="form-control" placeholder="" required>
          </mat-form-field> 
          <div *ngIf="(price.errors?.required)" class="errorCreMsg">
            Required!
          </div>
          <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
            class="errorCreMsg">
              Invalid !
          </div>   
          </div>
        </div>
        </div>
        <div>
        </div>
      </div>
      <div class="create_new_tale_mdm2" *ngIf="returnPayoutBasedOn(payoutGenDetail.lkpCargoPayoutOptId) == 'RATE PER PERSON'">
        <div class="row">
          <div class="col-md-2">
            <mat-label><strong>Rate Per Person</strong> <span class="redMark"> *</span></mat-label>
          </div>
          <div class="col-md-3">
            <div class="col-md-7" style="margin-left: -10px;">
              <mat-form-field appearance="outline">
                <input matInput numeric maxlength="11"
                  OnlyNumber="true" (keyup)="compareMin(payoutGenDetail)" appNumberOnly name ="price" #price="ngModel" [(ngModel)]="payoutGenDetail.price" (ngModelChange)="editInput(payoutGenDetail)" class="form-control" placeholder="" required>
              </mat-form-field>    
              <div *ngIf="(price.errors?.required)" class="errorCreMsg">
                Required!
              </div>
              <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
                class="errorCreMsg">
                  Invalid !
              </div> 
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div class="create_new_tale_mdm2" *ngIf="returnPayoutBasedOn(payoutGenDetail.lkpCargoPayoutOptId) == 'RATE PER VEHICLE'">
        <div class="row">
          <div class="col-md-2">
            <mat-label><strong>Rate Per Vehicle</strong> <span class="redMark"> *</span></mat-label>  
          </div>
          <div class="col-md-3">
            <div class="col-md-7" style="margin-left: -10px;">
            <mat-form-field appearance="outline">
              <input matInput numeric maxlength="11"
                 OnlyNumber="true" (keyup)="compareMin(payoutGenDetail)" appNumberOnly name ="price" #price="ngModel" [(ngModel)]="payoutGenDetail.price" (ngModelChange)="editInput(payoutGenDetail)" class="form-control" placeholder="" required>
            </mat-form-field>
            <div *ngIf="(price.errors?.required)" class="errorCreMsg">
              Required!
            </div>
            <div *ngIf="(price.errors?.isNumeric && !(price.errors?.required && price.touched))"
              class="errorCreMsg">
                Invalid !
            </div>    
            
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fix Div nothing change Start-->
  
 
  
</form>